<div id="login-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="login-box">
                    <div id="login-box-holder">
                        <div class="row">
                            <div class="col-xs-12">
                                <header id="login-header">
                                    <div id="login-logo">
                                        Teamform
                                    </div>
                                </header>
                                <div id="login-box-inner" class="with-heading">
                                    <h4>Forgot your password?</h4>
                                    <p>
                                        Enter your email address to recover your password.
                                    </p>
                                    <form role="form" ng-submit="passwordReset.sendPasswordResetEmail()">
                                        <ui-alert message="{{passwordReset.error.message}}" />
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="email" class="form-control" placeholder="Email address" ng-model="passwordReset.email">
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button type="submit" class="btn btn-success col-xs-12">Reset Password</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <a ui-sref="login" id="login-forget-link" class="forgot-link col-xs-12">Back to login</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
