<div class="fixed-header fixed-leftmenu theme-turquoise">
    <div id="theme-wrapper">
        <ui-header></ui-header>
        <div id="page-wrapper" class="container">
            <div class="row">
                <ui-menu></ui-menu>
                <div id="content-wrapper">
                    <div class="row">
                        <div class="col-xs-12">
                            <ui-body></ui-body>
                        </div>
                    </div>
                    <ui-footer></ui-footer>
                </div>
            </div>
        </div>
    </div>
</div>
