<div>
    <script type="text/javascript">
        $('.button-collapse').sideNav();
    $('.parallax').parallax();
    $('.collapsible').collapsible();
    </script>
    <ul class="dropdown-content" id="notifications">
        <li ng-click="markRead(x.$id);" ng-repeat="x in allnoti  |  filter:{read:false,type:'invitation'}">
            <invitation-bar cpic="{{x.imageURL}}" event="{{x.eventName}}" from="{{x.senderName}}" team="{{x.teamName}}" type="{{x.type}}">
                {{x.content}}
            </invitation-bar>
        </li>
        <li ng-click="markRead(x.$id);" ng-repeat="x in allnoti  |  filter:{read:false,type:'System'}">
            <notify-bar cpic="{{x.imageURL}}" type="{{x.type}}">
                {{x.content}}
            </notify-bar>
        </li>
        <li class="divider">
        </li>
        <li style="width:400px;">
            <a onclick="window.location.href = '#/profile';$('html,body').animate({scropTop:$('#notification_center'.offset().top)});">
                Show All
            </a>
        </li>
    </ul>
    <ul class="dropdown-content" id="account">
        <li>
            <a href="#/profile">
                <i class="material-icons left">
                    person
                </i>
                Profile
            </a>
        </li>
        <li>
            <a href="#/search">
                <i class="material-icons left">
                    settings
                </i>
                Search
            </a>
        </li>
        <li class="divider">
        </li>
        <li>
            <a href="#!">
                Sign Out
            </a>
        </li>
    </ul>
    <nav class="teal">
        <div class="nav-wrapper">
            <a class="brand-logo" href="#">
                Undefined
            </a>
            <a class="button-collapse" data-activates="mobile-demo" href="#">
                <i class="material-icons">
                    menu
                </i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#/home">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#/eventx">
                        Events
                    </a>
                </li>
                <li>
                    <a class="dropdown-button" data-activates="notifications" data-alignment="right" data-beloworigin="true" data-constrainwidth="false" ng-click="shownotify();">
                        <i class="material-icons left">
                            notifications_none
                        </i>
                        <span class="new badge red" ng-show="(allnoti|filter:{read:false}).length!=0">
                            {{(allnoti|filter:{read:false}).length}}
                        </span>
                    </a>
                </li>
                <!-- Dropdown Trigger -->
                <li>
                    <a class="dropdown-button" data-activates="account" data-beloworigin="true" href="#!">
                        {{currentUser.email}}
                        <i class="material-icons right">
                            arrow_drop_down
                        </i>
                    </a>
                </li>
            </ul>


            <ul class="side-nav teal" id="mobile-demo">
                <li>
                    <a style="color:#fff;">
                        {{currentUser.email}}
                    </a>
                </li>
                <li>
                    <a href="#/home" style="color:#fff;">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#/eventx" style="color:#fff;">
                        Events
                    </a>
                </li>
                <li>
                    <a onclick="$('#side_notifications').slideToggle();" style="color:#fff;">
                        <i class="material-icons left">
                            notifications_none
                        </i>
                        Notifications
                        <span class="new badge red" ng-show="(allnoti|filter:{read:false}).length!=0">
                            {{(allnoti|filter:{read:false}).length}}
                        </span>
                    </a>
                </li>

                <ul id="side_notifications" style="display: none">
                <li ng-repeat="x in allnoti  |  filter:{read:false,type:'invitation'}">
               
                <a ng-click="markRead(x.$id);" style="text-align: center;color: #fff;background: #26a69a;font-size: 12px;margin-top:5px; overflow: hidden;">
                {{x.content}}
                </a>
              
                </li>
                <li  ng-repeat="x in allnoti  |  filter:{read:false,type:'System'}">
              
                <a ng-click="markRead(x.$id);" style="text-align: center;color: #fff;background: #26a69a;font-size: 12px;margin-top:5px; overflow: hidden;">
                {{x.content}}
                </a>
             
                </li>
                <li class="divider">
                </li>
                <li>
                <div align="center">
                <a onclick="window.location.href = '#/profile';$('html,body').animate({scropTop:$('#notification_center'.offset().top)});" style="color:#009688; width: 40%;font-size: 12px;"  class="waves-effect waves-light btn white">
                Show All
                </a>
                </div>
                </li>
                </ul>

                <li>
                    <a href="#/profile" style="color:#fff;">
                        My Profile
                    </a>
                </li>
                <li>
                    <a href="#/search" style="color:#fff;">
                        Search
                    </a>
                </li>
               <div align="center">
    
                    <a class="waves-effect waves-light btn white" href="#/home" style="color:#009688; width: 50%">
                        Sign Out
                    </a>
               
            </div>
            </ul>
           
        </div>
    </nav>
</div>