<div>
    <script type="text/javascript">
        $('.button-collapse').sideNav();
    $('.parallax').parallax();
    $('.collapsible').collapsible();
    </script>
    <ul class="dropdown-content" id="notifications">
        <li ng-click="markRead(x.$id);" ng-repeat="x in allnoti  |  filter:{read:false,type:'invitation'}">
            <invitation-bar cpic="{{x.imageURL}}" event="{{x.eventName}}" from="{{x.senderName}}" team="{{x.teamName}}" type="{{x.type}}">
                {{x.content}}
            </invitation-bar>
        </li>
        <li ng-click="markRead(x.$id);" ng-repeat="x in allnoti  |  filter:{read:false,type:'System'}">
            <notify-bar cpic="{{x.imageURL}}" type="{{x.type}}">
                {{x.content}}
            </notify-bar>
        </li>
        <li class="divider">
        </li>
        <li style="width:400px;">
            <a>
                Show All
            </a>
        </li>
    </ul>
    <ul class="dropdown-content" id="account">
        <li>
            <a href="#/profile">
                <i class="material-icons left">
                    person
                </i>
                Profile
            </a>
        </li>
        <li>
            <a href="#/search">
                <i class="material-icons left">
                    settings
                </i>
                Search
            </a>
        </li>
        <li class="divider">
        </li>
        <li>
            <a href="#!">
                Sign Out
            </a>
        </li>
    </ul>
    <nav class="teal">
        <div class="nav-wrapper">
            <a class="brand-logo" href="#">
                Undefined
            </a>
            <a class="button-collapse" data-activates="mobile-demo" href="#">
                <i class="material-icons">
                    menu
                </i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#/home">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#/team">
                        Events
                    </a>
                </li>
                <li>
                    <a class="dropdown-button" data-activates="notifications" data-alignment="right" data-beloworigin="true" data-constrainwidth="false" ng-click="shownotify();">
                        <i class="material-icons left">
                            notifications_none
                        </i>
                        <span class="new badge">
                            {{(allnoti|filter:{read:false}).length}}
                        </span>
                    </a>
                </li>
                <!-- Dropdown Trigger -->
                <li>
                    <a class="dropdown-button" data-activates="account" data-beloworigin="true" href="#!">
                        {{currentUser.email}}
                        <i class="material-icons right">
                            arrow_drop_down
                        </i>
                    </a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a>
                        {{currentUser.email}}
                    </a>
                </li>
                <li>
                    <a href="#/home">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#/team">
                        Events
                    </a>
                </li>
                <li>
                    <a href="#/notifications">
                        <i class="material-icons left">
                            notifications_none
                        </i>
                        Notifications
                        <span class="new badge" data-badge-caption="">
                            4
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#/profile">
                        My Profile
                    </a>
                </li>
                <li>
                    <a href="#/home">
                        Sign Out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>