<div class="container">
    <div class="row">
        <form>
          <simple-field id="team_name" label="Team name"></simple-field>
          <textarea-field id="team_description" label="Team description"></textarea-field>
          <image-upload label="Choose team image"></image-upload>
          <br>
          <div>
              <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
              <label for="filled-in-box">Is a private team</label>
          </div>
          
        </form>
    </div>
</div>