<h1>Notifications:</h1>

<div ng-controller="notificationCtrl">

    <form name="myForm">
        <label for="repeatSelect"> filter: </label>
        <select name="repeatSelect" id="repeatSelect" ng-model="search_model">
            <option value = "all">All Events</option>
            <option ng-repeat="(eid, myEvent) in myEvents" value="{{eid}}">{{events.$getRecord(eid).eventInfo.name}}</option>
        </select>
    </form>
    <!-- <h3>Unread Notifications</h3> -->

    <ul>
        <li ng-repeat="(eid, myEvent) in filterEvent(myEvents, search_model)">
            <h4>{{events.$getRecord(eid).eventInfo.name}}</h4>
            <div ng-show="myEvent.notifications== null">No notifications!</div>
            <ul>
                <li ng-repeat="(nid,notification) in myEvent.notifications">
                    <span ng-show="!notification.isRead">(Unread)</span>
                    {{notification.content}}

                    <span class="glyphicon glyphicon-ok" ng-show ="!notification.isRead" ng-click = "changeState(eid,nid)" aria-hidden="true"></span>

                </li>
            </ul>
        </li>
    </ul>

</div>

<!-- <h3>Read Notifications</h3>

<ul>
    <li ng-repeat="(eid, myEvent) in myEvents">
        Event: {{events.$getRecord(eid).eventInfo.name}}
        <ul>
            <li ng-repeat="(nid,notification) in myEvent.notifications" ng-show="notification.isRead" >
                {{notification.content}}

                <span class="glyphicon glyphicon-ok" ng-show ="!notification.isRead" ng-click = "changeState(eid,nid)" aria-hidden="true"></span>


            </li>
        </ul>

    </li>
</ul> -->
