<body ng-app="teamApp">
    
    <h3>List of request:</h3>

    <div ng-controller="handleRequests">
        
<!--            <table width="1000">
                <tr align="center"><td align="center"><b>Name:</b></td><td align="center"><b>Message</b></td></tr>
                <div ng-repeat = "q in requests" ng-if="q.receiver == currentUserid && currentUserid !== null">
                    <tr align="center">
                    <td align="center">{{q.memberName}}</td>
                    <td align="center">{{q.message}}</td>
                    </tr>
                </div>
            </table>-->
        <table width="1000">
            <tr align="center">
                <td align="center"><b>Name of team</b></td>
                <td align="center"><b>Message  of team</b></td>
            </tr>
            <tr data-ng-repeat="q in requests"  ng-if="q.receiver == currentUserid && currentUserid !== null">
                <td align="center">{{q.memberName}}</td>
                <td align="center">{{q.message}}</td>
                <td align="center"><div ng-controller="joinTeam"><button ng-click="acceptPerson(q.eventName,q.targetTeam,q.memberName)">Accept</button></div></td>
                <td align="center"><div ng-controller="joinTeam"><button ng-click="rejectPerson(q.eventName,q.targetTeam,q.memberName)">Reject</button></div></td>
            </tr>
        </table>
                        
        
            
    </div>
    
    
</body>