<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<div ng-controller='eventX'>

    <!-- Event Card -->
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header teal-text">{{curEvent.eventName}}</h1>

                <h5 class="header">{{curEvent.eventDescription}}</h5>
            </div>
        </div>
        <div class="container">
            <div class="row center">
                <button ng-show="showTeams" ng-click="flip($event)" class="btn waves-effect waves-light btn-large" type="button">{{create_team}}
                  <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
        <div class="parallax"><img ng-src="{{curEvent.eventBG}}" alt="Unsplashed background img 1" style="display: block;height: 100%;width:auto;"></div>
    </div>



    <div class="container" ng-show="showTeams">
        <!--   Collapsible structure -->
        <ul class="collapsible blue-grey darken-2" data-collapsible="expandable">
            <div ng-repeat="t in teams track by t.teamID">

                <li>
                  <team-card team-id="{{t.teamID}}"></team-card>
                  <div ng-show="notParticipated" class="container">
                      <div class="row center">
                          <a class="waves-effect waves-light btn" ng-click="joinTeam($event, t.teamID);">
                              <i class="material-icons left">
                          add
                      </i> Join
                          </a>
                          <a class="waves-effect waves-light btn blue-grey lighten-2" ng-click="removeTeam($event, t.teamID)">
                              <i class="material-icons left">
                          not_interested
                      </i> Not Interested
                          </a>
                      </div>
                  </div>
                    <!-- <div class="collapsible-header active blue-grey darken-1 tooltipped" data-position="left" data-delay="0" data-tooltip="I am tooltip" ng-click="showBody(t.teamID);"> -->

                        <!-- <div class="card horizontal">
                            <div class="card-image">
                                <img class="responsive-img" ng-src="{{t.imageUrl}}">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">{{t.teamName}}</span>
                                    <span class="card-content"><p></p></span>
                                    <div class="container">
                                        <div class="row right">
                                            <button ng-click="joinTeam($event, t.teamID);" class="btn waves-effect waves-light" type="button">JOIN
                                              <i class="material-icons right">send</i>
                                            </button>

                                            <button ng-click="removeTeam($event, t.teamID);" class="btn waves-effect waves-light" type="button">Not Interested
                                            <i class="material-icons right">not_interested</i>
                                          </button>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> -->

                    <!-- <div class="collapsible-body-{{t.teamID}}" style="display: none;">
                        <div class="card sticky-action blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title activator">Team Leader</span>
                                <div class="section">
                                    <div class="card horizontal">
                                        <div class="card-image">
                                            <img ng-src="{{readyData.user[t.leaderID].profilePic}}" height='200'>

                                        </div>
                                        <div class="card-stacked">
                                            <div class="card-content">
                                                <span class="card-title activator grey-text text-darken-3">{{readyData.user[t.leaderID].name}}</span>
                                                <br/>
                                                <span class="team-text-span grey-text text-darken-3">Skills:


                          <div class="chip focus teal lighten-1 white-text" ng-repeat="skill in readyData.user[t.leaderID].skills track by skill">{{skill}}</div>


                        </span>
                                            </div>
                                            <div class="card-action">
                                                <a href="#">This is a link to personal profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="card-title activator">Team Members</span>

                                <div class="section">

                                    <div class="container">
                                        <div class="col s6" ng-repeat="memberID in t.membersID track by $index">
                                            <div class="card horizontal">
                                                <div class="card-image">
                                                    <img ng-src="{{readyData.user[memberID].profilePic}}" height='200'>
                                                </div>
                                                <div class="card-stacked">
                                                    <div class="card-content">
                                                        <span class="card-title activator grey-text text-darken-3">{{readyData.user[memberID].name}}</span>
                                                        <br/>
                                                        <span class="team-text-span grey-text text-darken-3">Skills:
                              <div class="chip focus teal lighten-1 white-text" ng-repeat="skill in readyData.user[memberID].skills track by skill">{{skill}}</div>
                            </span>
                                                    </div>
                                                    <div class="card-action">
                                                        <a href="#">This is a link to personal profile</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </li>
            </div>
        </ul>
    </div>
    <team-form ng-show="showTeamForm"></team-form>
    <div ng-show="showTeamForm" class="container">
        <div class="row center">
            <a class="waves-effect waves-light btn" ng-click="createTeam($event);">
                <i class="material-icons left">
            add
        </i> Submit
            </a>
            <a class="waves-effect waves-light btn blue-grey lighten-2" ng-click="flip($event)">
                <i class="material-icons left">
            not_interested
        </i> Cancel
            </a>
        </div>
    </div>
    <script type="text/javascript">
        // var $toastContent = $('<span>You can click on each team for more details</span>');
        // Materialize.toast($toastContent, 8000);
    </script>


    <event-footer>
    </event-footer>
</div>
