* {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
  padding-bottom: 5px;
  font-size: 1.2em;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 10px;
  color: #414141;
  font-size: 1.5em;
  line-height: 1.5em;
}

.chat-box {
  background: lightblue;
  margin: 10px auto;
  max-width: 500px;
  height: 490px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  /*border : 1px solid #000;*/
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.chat-container {
  position: absolute;
  padding: 20px;
  width: 500px;
  height: 350px;
  overflow: auto;
  opacity: 1;
}

p {
  margin: 0;
}

.message {
  position: relative;
  float: left;
  clear: both;
  width: auto;
  max-width: 80%;
}

.bubble {  
  position: relative;  
  background: #95c2fd;
  padding: 0.5em 1em;
  background: white;
  border-radius: 3px;
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);
  /*margin-bottom: 10px;*/
  color: black;
  word-wrap: break-word;
  font-size: 1em;
  /*margin-top: 30px;*/
  opacity: 1;
}

.bubble:after {
  border-radius: 20px / 5px;
  content: '';
  display: block;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: white;
  bottom: 0px;
  transform: rotateZ(-90deg);
  left: -15px;
}

.bubble h5.sender {
  font-family: 'Arial';
}

.message-alt {
  float: right;
}

.bubble-alt:after {
  left: auto;
  border-bottom-color: white;
  transform: rotateZ(90deg);
  right: -14px;
}

.datestamp {
  display: block;
  /*text-align: center;*/
  /*margin-top: 30px;*/
  color: #8b91a0;
  /*opacity: 0;*/
}

.datestamp:after {
  clear: both;
}

.chat-control {
  padding: 1.2em;
  margin-top: 350px;
  background: white;
}

.chat-input {
  width: 100%;
  border: 1px solid gray;
  padding: 0.7em;
}

.chat-input:focus {
  border: none;
}

#sendBtn {
  padding-top: 0.7em;
  padding-bottom: 0.5em;
  width: 50px;
}

.chat-header {
  background: #fff;
  padding: 0.5em;
  padding-bottom: .7em;
  height: 70px;
  /*text-align: center;*/
}

.chat-header span {
  font-size: 12px;
  position: absolute;
  margin: 47px -50px;
  font-style: italic;
}

.user-profile {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 10px;
  background-size: cover;
  cursor: pointer;
  float: left;
  background-image: url("../images/chatRoom.png");
}

.chat-container::-webkit-scrollbar {
    width: 1em;
}
 
.chat-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.chat-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/*div.list-messages {
  width: 600px;
  margin: 20px auto 0;
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  ul {
    margin: 0;
    padding: 20px;
    list-style: none;

    li {
      width: 560px;
      display: inline-block;
      margin-top: 20px;
      box-sizing: border-box;

      &:first-child {
        margin-top: 0;
      }

      p {
        float: left;
        margin: 0;
        padding: 0;
        word-wrap: break-word;

        &.name {
          width: 110px;
          vertical-align: top;
          font-weight: 700;
        }

        &.text {
          width: 440px;
          margin-left: 10px;
        }
      }
    }
  }
}

div.new-message {
  width: 600px;
  height: 80px;
  margin: 20px auto 0;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  input {
    width: 110px;
    height: 20px;
    float: left;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:focus {
      border-color: rgba(72, 163, 232, 0.3);
      box-shadow: 0 0 8px rgba(72, 163, 232, 0.4);
      outline: 0;
    }

    &[name="text"] {
      width: 390px;
      margin-left: 10px;
    }
  }
}*/