body {
  font: normal 400 16px Arial, Helvetica, sans-serif;
  color: #333;
}

div.list-messages {
  width: 600px;
  margin: 20px auto 0;
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  ul {
    margin: 0;
    padding: 20px;
    list-style: none;

    li {
      width: 560px;
      display: inline-block;
      margin-top: 20px;
      box-sizing: border-box;

      &:first-child {
        margin-top: 0;
      }

      p {
        float: left;
        margin: 0;
        padding: 0;
        word-wrap: break-word;

        &.name {
          width: 110px;
          vertical-align: top;
          font-weight: 700;
        }

        &.text {
          width: 440px;
          margin-left: 10px;
        }
      }
    }
  }
}

div.new-message {
  width: 600px;
  height: 80px;
  margin: 20px auto 0;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  input {
    width: 110px;
    height: 20px;
    float: left;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:focus {
      border-color: rgba(72, 163, 232, 0.3);
      box-shadow: 0 0 8px rgba(72, 163, 232, 0.4);
      outline: 0;
    }

    &[name="text"] {
      width: 390px;
      margin-left: 10px;
    }
  }
}