/*.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}*/

.login_box_section{
    position:relative;
    /*width:100%;*/
    height:100%;
    /*color:#fff;*/
    /*background-image: url('img/img4.jpg');*/
    min-height:600px;
    padding:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    /*overflow:hidden;*/
    background-attachment:scroll;   
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.login_label{
    font-size: 22px;
    display:table-cell;
    vertical-align: middle;
}

.login_heading{
    font-size: 24px;
    text-align: center;
  
}

.intro{
    display:block;
    position:relative;
    /*width:100%;*/
    /*top:50%;*/
    -webkit-transform:translate(0, -20%);
    -ms-transform:translate(0, -20%);
    transform:translate(0, -20%);
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    transition:all .2s ease-out;
    z-index:100;
    padding:13% 0px 0px 5%;
    
}

#login_box{
    background: -webkit-linear-gradient(left top,#fbfbfb, #eee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,#fbfbfb, #eee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#fbfbfb, #eee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,#fbfbfb, #eee); /* Standard syntax */
    background-color: #f2f2f2;
    /*border: 3px solid #f1f1f1;*/
    border-radius: 10px;
    padding: 20px 5px 20px 5px; 
    /*text-align:center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 5px #ccc;
    /*top: 50%;*/
    margin: 100px 0px 20px 0px;

}


input[type=email],input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.event_item{
    background-color: white;
    border: 3px solid #f1f1f1;
    padding: 5px 35px;
    min-height: 70px;
    box-shadow: 3px 3px 5px #ccc;
}

.event_item:hover{
    box-shadow: 0px 0px 0px #ccc;
}

.event_item_name{
    font-size: 17px;
    font-weight: bold;
    
}

.event_item_date{
    color:white;
    background-color: #337ab7;
    border: 2px solid #2573a9;
    width: 55px;
    height: 55px;
    padding: 0px 5px;
    box-shadow: 2px 2px 2px #ccc;
}

.event_item_day{
    font-size: 22px;
}

event_item_month{
    font-size: 15px;
}
.event_item_description{
    color: #777;
}

.profile_box{
    border: 3px solid #f1f1f1;
    box-shadow: 3px 3px 5px #ccc;
    padding: 50px 40px;
    margin: 40px 0px;
}

body{
    font-family: century gothic;
    
}

.banner{
    background-image: url('img/img1_thin.jpg');
    
    /*color:#fff;*/
    /*height: 100%;*/
    min-height:200px;
    padding:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    /*overflow:hidden;*/
    background-attachment:scroll;   
    
}

.banner_title{
    
    padding :0px 55px;
}