body{
    background-image: url("http://www.intrawallpaper.com/static/images/MTM1MzQwMzMxNTE5NTA0MzU0_hvjR8VL.jpg");
    background-size: cover;
}


.text p
{
  font-size: 20px;
  color:white;
  font-style: oblique;
  margin-top: 40px;
}

#styled {
	width: 600px;
	height: 120px;
  border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
  background-color: rgba(255,255,255,0.4);
  color: rgb(0,0,0);
  border: none;
  outline: none;
  margin-left: 25%;
}
