body {
	background-color: #1E88E5; /*blue 600*/
	font-family: 'Roboto Slab', serif;
}
section {
	padding-top: 100px;
	height: 60vh;
}
footer {
	background-color: #3E2723;
	padding: 30px 0px;
}
footer h6 {
	color: #EFEBE9;
}
footer h5 {
	color: #BCAAA4;
}

/*-----navbar----- */
.navbar-custom {
	background-color: #E3F2FD; /*blue 50*/
	border-color: transparent;

}
.navbar-custom .navbar-brand{
	color: #616161;
	font-family: 'Lobster', cursive;
}
.navbar-custom .nav li a{
	color: #212121;
}

/*-----section----- */
.login{
	border: transparent;
	margin-bottom: 5px;
	padding-top:12px;
	position: relative;	
	width: 30%;
	height: 2.5em;
	font-size: 24px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.facebook{
	background-color: #1565C0; /*blue800*/
}
.github{
	background-color: #558B2F; /*light green800*/
}
.google{
	background-color: #D84315; /*deep orange 800*/
}
.section-heading{
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
.section-subheading{
	font-style: italic;
	text-transform: none;
	font-weight: 400;
	margin-bottom: 70px;
}
/*-----navbar----- */
