.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

#fbicon {
	padding: 10px;
}

#fblogin .btn {
	background: #4080ff;
	margin-top: 8px;
	color: white;
	font-weight: bold;
}

#fblogout div {
	padding-left: 10px;
	padding-right: 10px;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

@media (max-width: 460px) {
	#teamform {
		display: none;
	}
}

#savebtn {
	margin-top: 20px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 0px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f6f6f6;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
