<ui-alert message="{{eventCreate.error.message}}" />
<form class="form-horizontal">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Event</label>
        <div class="col-sm-10">
            <ui-select on-select="teamCreate.onEventChange($item)" ng-model="teamCreate.team.eventId" required>
                <ui-select-match placeholder="Select Event">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="event.$id as event in teamCreate.events | filter:$select.search">
                    {{event.name}}
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Team Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="teamCreate.team.name" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Private Team</label>
        <div class="col-sm-10">
          <input bs-switch ng-model="teamCreate.team.private" type="checkbox" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Direct Join</label>
        <div class="col-sm-10">
          <input bs-switch ng-model="teamCreate.team.invite" type="checkbox" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Team Member {{range(teamCreate.selectedEvent.teamMax)}}</label>
        <div class="col-sm-10">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in teamCreate.team.users track by $index">
                            <td>
                                <ui-select on-select="teamCreate.onTeamUserChange($item)" ng-model="user.id" ng-if="$index > 0" ng-disabled="$index == 0">
                                    <ui-select-match allow-clear="true" placeholder="Invite User">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="eventUser.id as eventUser in teamCreate.availablieUsers | filter:$select.search">
                                        {{eventUser.name}}
                                    </ui-select-choices>
                                </ui-select>
                                <input type="text" ng-if="$index == 0" class="form-control" placeholder="Role" ng-model="user.id" ng-disabled="$index == 0" required>
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="Role" ng-model="user.role" ng-disabled="$index == 0" required>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-block btn-primary" ng-click="teamCreate.createTeam()">Create</button>
        </div>
    </div>
</form>
