<ui-alert message="{{teamList.error.message}}" />
<h2 class="page-header">Team Search</h2>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
    </div>

    <div class="panel panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Event</label>
                <div class="col-sm-10">
                    <ui-select ng-model="teamList.search.data.eventId" required>
                        <ui-select-match allow-clear="true" placeholder="Select Event">{{$select.selected.data.name}}</ui-select-match>
                        <ui-select-choices repeat="event.$id as event in teamList.events | filter:$select.search">
                            {{event.data.name}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Team Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="teamList.search.data.name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Private Team</label>
                <div class="col-sm-10">
                    <input bs-switch ng-model="teamCreate.search.data.private" type="checkbox" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Direct Join</label>
                <div class="col-sm-10">
                    <input bs-switch ng-model="teamCreate.search.data.invite" type="checkbox" />
                </div>
            </div>
        </form>
    </div>
</div>
<h2 class="page-header">Team List</h2>
<div class="pull-right">
    <a ui-sref="team.create"><button type="button" class="btn btn-primary">Create Team</button></a>
</div>
<div class="clearfix"></div>
<div class="divider"></div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Team Name</th>
                <th>Event</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Vacancy</th>
                <th>Direct Join</th>
            </tr>
        </thead>
        <tbody dir-paginate="team in teamList.teams | filter:teamList.search | itemsPerPage: 2">
            <tr>
                <td>
                    <span class="label label-danger" ng-if="team.data.private">Private</span>
                    <span class="label label-success" ng-if="!team.data.private">Public</span>
                </td>
                <td>
                    <a ui-sref="team.detail({teamId: team.$id})">{{team.data.name}}</a>
                </td>
                <td>
                    <a ui-sref="event.detail({eventId: team.data.eventId})">{{team.getEvent().data.name}}</a>
                </td>
                <td>
                    <a ui-sref="user.detail({userId: team.data.createdBy})">{{team.getCreatedByUser().name}}</a>
                </td>
                <td>
                    {{team.data.createdAt | date:'medium'}}
                </td>
                <td>
                    {{team.getVacancy()}}
                </td>
                <td ng-if="!team.data.invite"><span class="text-success glyphicon glyphicon-ok"></span></td>
                <td ng-if="team.data.invite"><span class="text-danger glyphicon glyphicon-remove"></span></td>
            </tr>
        </tbody>
    </table>
</div>
<dir-pagination-controls />
