<ui-alert message="{{teamDetail.error.message}}" />
<div ng-if="teamDetail.team">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="pull-left panel-title">{{teamDetail.team.name}}</h3>
            <div class="pull-right"><a class="label label-info" ui-sref="team.detail.edit({teamId: teamDetail.team.$id})">Edit</a></div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <img class="img-responsive img-circle center-block" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTgzM2ZiMDVlYiB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1ODMzZmIwNWViIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=">
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Team State</th>
                                    <td><span class="label label-danger" ng-if="teamDetail.team.private">Private</span><span class="label label-success" ng-if="!teamDetail.team.private">Public</span></td>
                                </tr>
                                <tr>
                                    <th>Team ID</th>
                                    <td>{{teamDetail.team.$id}}</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>{{teamDetail.team.name}}</td>
                                </tr>
                                <tr>
                                    <th>Event</th>
                                    <td><a ui-sref="event.detail({eventId: teamDetail.team.event.$id})">{{teamDetail.team.event.data.name}}</a></td>
                                </tr>
                                <tr>
                                    <th>Team Size</th>
                                    <td ng-if="teamDetail.team.event.data.teamMin != teamDetail.team.event.data.teamMax">{{teamDetail.team.event.data.teamMin}} - {{teamDetail.team.event.data.teamMax}}</td>
                                    <td ng-if="teamDetail.team.event.data.teamMin == teamDetail.team.event.data.teamMax">{{teamDetail.team.event.data.teamMin}}</td>
                                </tr>
                                <tr>
                                    <th>Created Date</th>
                                    <td>{{teamDetail.team.createdAt | date: 'medium'}}</td>
                                </tr>
                                <tr>
                                    <th>Created By</th>
                                    <td><a ui-sref="user.detail({userId: teamDetail.team.createdBy})">{{teamDetail.team.createdByUser.name}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Team Member</h3>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Role</th>
                        <th>Skills</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="teamUser in teamDetail.team.users | filter:teamDetail.filterJoined | itemsPerPage: 5">
                        <td><a ui-sref="user.detail({userId: teamUser.user.id})">{{teamUser.user.name}}</a></td>
                        <td>{{teamUser.role}}</td>
                        <td>
                            <span ng-repeat="skill in teamUser.user.skills" class="label label-success">{{skill}}</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <dir-pagination-controls ng-if="teamDetail.team.users.length" />
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Available Team Position</h3>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Skills</th>
                        <th ng-if="!teamDetail.team.private"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="teamUser in teamDetail.team.users | filter:teamDetail.filterAvailable | itemsPerPage: 5">
                        <td>{{teamUser.role}}</td>
                        <td>
                            <span ng-repeat="skill in teamUser.user.skills" class="label label-success">{{skill}}</span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn-success" ng-if="!teamDetail.team.private" ng-click="teamDetail.joinTeam(teamUser.$id)">Join</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <dir-pagination-controls ng-if="teamDetail.team.users.length" />
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Team Waiting List</h3>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Role</th>
                        <th>Skills</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="teamUser in teamDetail.team.users | filter:teamDetail.filterWaitingList | itemsPerPage: 5">
                        <td><a ui-sref="user.detail({userId: teamUser.user.id})">{{teamUser.user.name}}</a></td>
                        <td>{{teamUser.role}}</td>
                        <td>
                            <span ng-repeat="skill in teamUser.user.skills" class="label label-success">{{skill}}</span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn-success" ng-if="teamDetail.canManage() && teamUser.confirmed === false" ng-click="teamDetail.confirmTeamPosition(teamUser.$id)">Accept</button>
                            <button type="button" class="btn btn-xs btn-danger" ng-if="teamDetail.canManage() && teamUser.confirmed === false" ng-click="teamDetail.rejectConfirmTeamPosition(teamUser.$id)">Reject</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <dir-pagination-controls ng-if="teamDetail.team.users.length" />
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
