<!DOCTYPE html> 
<html ng-app="todoApp">  
<head>
	<!-- Angular Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<style>
		ul { list-style-type: none; }	
		.todo-done-true {
			text-decoration: line-through;
			color: grey;
		}
		.todo-done-false {
		}
	</style>
</head>

<body>
	<!-- ToDo: Implement the missing parts below -->
	<div ng-controller="todoCtrl">
		<h1>ToDo:</h1>
		<ul>	
			<li ng-repeat="item in todos |filter: searchText">
				<input type="checkbox" ng-model="item.done"/>
				<span class="todo-done-{{item.done}}">{{item.text}}</span>
			</li>
		</ul>		
		<input type="text" placeholder="add new todo here" ng-model="newTodo">
		<input type="button" value="Add" ng-click="addToDo();">		
		<br><br>
		Search: <input type="text" placeholder="Type to search" ng-model="searchText">
		<hr>		
		<h1>Debug:</h1>
		<ul>
			<li><pre>newTodo: {{newTodo}}</pre></li>
			<li><pre>todos: {{todos | json }}</pre></li>
			<li><pre>todos (filtered by {{searchText}}): </pre></li>
		</ul>
	</div>
	<script>
		var app = angular.module("todoApp", []); 
		app.controller("todoCtrl", 
			
			function($scope) {
			
			$scope.newTodo="";
			$scope.searchText="";
			
			var initdata = [
			{
			"text":"Done",
			"done":true
			},
			{
			"text":"Not Done",
			"done":false
			},
			{
			"text":"Peter",
			"done":false
			}
			];
				// Implementation the todoCtrl 
				$scope.todos = initdata;
				$scope.addToDo = function(){
					$scope.todos.push(
					{
						"text":$scope.newTodo,
						"done":false
					}
					
					);
				};

			}
		);
	</script>
</body>
</html>