<div class="row featurette" id="page_about">
    <div class="col-md-12">
        <h2 class="featurette-heading">What is teamform???
            <br>
            <span class="text-muted">A real-time online team forming app</span>
        </h2>

        <p class="lead"> The following roles are supported in teamform:</p>

        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">Administrator</h3>
                <ul>
                    <li>Be responsible for creating an event for team forming (e.g. COMP3111, COMP3111H, hackUST)
                    </li>
                    <li>Be able to set the minimum and maximum team size for the event (e.g. 5..7 team members in
                        COMP3111 and 5..8 team members in COMP3111H)
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3 class="text-center">Team</h3>
                <ul>
                    <li>Be able to add and remove requests made by members</li>
                    <li>Once a member joins the team, all his/her requests will be deleted</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3 class="text-center">Member</h3>
                <ul>
                    <li>Be able to request to join multiple teams</li>
                </ul>
            </div>
        </div>

    </div>
</div>