<div class="text-center">
    <h1>Member Page</h1>
    <h2 id="text_event_name">{{event}}</h2>
    <div id="member_page_controller">


        <div class="row">

            <div class="col-md-2 col-xs-2"></div>

            <div class="col-md-8 col-xs-8 panel">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputUserID" class="col-sm-3 control-label">User ID</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputUserID" ng-model="userID"
                                   placeholder="Enter your User ID">
                        </div>

                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary" ng-click="saveFunc();">Add/Modify</button>
                            <button type="button" class="btn btn-primary" ng-click="loadFunc();">Load</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputName" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputUserName" ng-model="userName"
                                   placeholder="Type in your name">
                        </div>
                    </div>
                </form>

                <div class="row text-left">
                    <h3>Your team preference:</h3>
                    <div ng-repeat="team in teams">
                        <div class="checkbox">
                            <label><input type="checkbox" value="{{team.$id}}"
                                          ng-checked="selection.indexOf(team.$id) > -1"
                                          ng-click="toggleSelection(team.$id)">
                                {{team.$id}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-2"></div>
        </div>
    </div>
</div>