<div class="text-center">
    <h1>Create New Member</h1>
    <div>
        <div class="row">
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-8 col-xs-8 panel">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputUserID" class="col-sm-3 control-label">User ID</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputUserID" ng-model="userID" placeholder="Enter a new User ID">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputUserName" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputUserName" ng-model="userName" placeholder="Enter your name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="eventName" class="col-sm-3 control-label">Event</label>
                        <div class="col-sm-5">
                            <input type="select" class="form-control" id="eventName" ng-model="eventName" placeholder="Enter an event">
                        </div>
                    </div>

                    <div class="form-group">
                        <h4>Your team preference:</h4>
                    </div>

                    <button type="submit" class="btn btn-primary">Create Member</button>

                </form>

            </div>
        </div>
    </div>
</div>