<div class="row">
    <div class="col s12 l8 offset-l2">
        <div class="card horizontal">
            <div class="card-image hide_if_small animated_div" style="z-index: 500">
                <div style="display:table;height:100%">
                    <div style=" display: table-cell;vertical-align: middle;">
                        <image ng-src="{{eventPicture}}" style="height:263px;width: 263px"/>
                    </div>
                </div>
            </div>

             <image ng-src="{{eventPicture}}" class="show_if_small animated_div" style="height:56px;width: 56px; position: relative;top:0;left:0;z-index: 200" />
            <div class="card-stacked" style="z-index: 10">


                <div class="card-content" id="first{{eid}}" style="height: 200px;overflow: hidden;">
                <h4>{{eventTitle}} </h4>
                 <a class="btn-floating btn-large waves-effect waves-light white animated_div2" id="sideButton{{eid}}" ng-click="showMore()" style="position: absolute; top:0; right:0; font-size:20px;font-weight: 600;color: #5B5B5B; border-radius: 0px; "><i class="material-icons" style="background: #009688">view_list</i></a>
                    <div style="width: 80%">
                    This event is created by {{eadmin}}, the min group size is {{eminSize}}, max size is {{emaxSize}}<br>The following are the description:<br><br>{{edescription}}
                    </div> 

                </div>

                  <div class="card-content" id="second{{eid}}" style="height: 200px;overflow: hidden;display: none;  background:#009688; color:#fff;  widows: 100%;">
    
                     <a class="btn-floating btn-large waves-effect waves-light white animated_div2" id="sideButton2{{eid}}" ng-click="showMore()" style="position: absolute; top:0; right:0; font-size:20px;font-weight: 600;color: #009688; border-radius: 0px; z-index: 200;display: none"><i class="material-icons" style="background: #fff;color: #009688;">view_list</i></a>
                   
                    <div style="width: 80%">
                        People in the event<br>
                        <ul>
                        <li ng-repeat="x in Teams">[{{x.teamName}}] Leader: {{x.leader}}
                        </li>

                        </ul>
                        <p ng-show='Teams.length<=0'>No body join this event yet</p>
                    </div>


              

                
                  
                </div>


                 <a class="hoverChange" ng-click="goToEvent()">
                <div class="card-action">
                   
                       Go to: {{eventTitle}} 
                   
                </div>
                 </a>
            </div>
           
        </div>
    </div>
</div>