<div class="row">
    <div class="col s12 l8 offset-l2">
        <div class="card horizontal">
            <div class="card-image">
                <div style="display:table;height:100%">
                    <div style=" display: table-cell;vertical-align: middle;">
                        <image ng-src="{{eventPicture}}" style="height:263px;width: 263px"/>
                    </div>
                </div>
            </div>
            <div class="card-stacked">


                <div class="card-content" id="first{{eid}}" style="height: 200px;overflow: hidden">
                    <div>
                    This event is created by {{eadmin}}, the min group size is {{eminSize}}, max size is {{emaxSize}}<br>The following are the description:<br><br>{{edescription}}
                    </div> 

                  
                  
                </div>

                  <div class="card-content" id="second{{eid}}" style="height: 200px;overflow: hidden;display: none;">
                   
                    <div>
                        People in the event<br>
                        <ul>
                        <li ng-repeat="x in Teams">[{{x.teamName}}] Leader: {{x.leader}}, member: {{x.member}}
                        </li>

                        </ul>
                        <p ng-show='Teams.length<=0'>No body join this event yet</p>


                    </div>
                
                  
                </div>


                 <a class="hoverChange" ng-click="goToEvent()">
                <div class="card-action">
                   
                       {{eventTitle}} 
                   
                </div>
                 </a>
            </div>
            <a ng-click="showMore()" style="position: relative; top:0; right:0; font-size:20px;font-weight: 600;color: #5B5B5B"><i class="material-icons">view_list</i></a>
        </div>
    </div>
</div>