<ui-alert message="{{userDetail.error.message}}" />
<div class="row">
    <div class="col-xs-6">
        <h1 class="text-left">User Profile</h1>
    </div>
    <div class="col-xs-6">
        <div class="text-right">
            <button type="button" class="btn btn-primary" ui-sref="user.detail.edit({userId: userDetail.user.$id})">Edit</button>
        </div>
    </div>
</div>
<div class="row" id="user-profile">
    <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="main-box clearfix" ng-if="userDetail.user">
            <div class="main-box-header clearfix">
                <h2>{{userDetail.user.data.name}}</h2>
            </div>
            <div class="main-box-body clearfix">
                <img class="profile-img img-responsive img-circle center-block" ng-src="{{userDetail.user.getImageUrl()}}">
                <div class="text-center">
                    {{userDetail.user.data.description}}
                </div>
                <div class="profile-details">
                    Skills:
                    <ul class="fa-ul">
                        <li ng-repeat="skill in userDetail.user.data.skills">
                            <div class="label label-success">{{skill}}</div>
                        </li>
                    </ul>
                </div>
                <div class="profile-message-btn center-block text-center">
                    <a ui-sref="message({conversationId: userDetail.user.$id})" class="btn btn-success">
                        <i class="fa fa-envelope"></i> Send message
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-8">
        <div class="main-box clearfix">
            <div class="tabs-wrapper profile-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="!#" data-target="#tab-event" data-toggle="tab">Event Joined</a></li>
                    <li class=""><a href="!#"  data-target="#tab-team" data-toggle="tab">Team Joined</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab-event">
                        Event
                    </div>
                    <div class="tab-pane fade" id="tab-team">
                        Team
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
