<ui-alert message="{{userList.error.message}}" />
<table ng-table="userList.userListTableParams" show-filter="true" class="table table-hover">
    <tbody>
        <tr ng-repeat="user in $data track by user.$id">
            <td data-title="''">
                <img class="img-responsive img-circle" ng-if="!user.data.imageUrl" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTgzM2ZiMDVlYiB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1ODMzZmIwNWViIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=">
                <img class="img-responsive img-circle" ng-if="user.data.imageUrl" ng-src="{{user.data.imageUrl}}">
            </td>
            <td data-title="'Name'" filter="{'data.name': 'text'}" sortable="'data.name'">
                <a ui-sref="user.detail({userId: '{{user.$id}}'})">{{user.data.name}}</a>
            </td>
            <td data-title="'Skills'">
                <span ng-repeat="skill in user.data.skills" class="label label-success">{{skill}}</span>
            </td>
            <td data-title="'Created At'" sortable="'data.createdAt'">
                {{user.data.createdAt | date:'medium'}}
            </td>
        </tr>
    </tbody>
</table>
