<ui-alert message="{{userDetail.error.message}}" />
<div class="main-box clearfix" ng-if="userDetail.user">
    <div class="main-box-header clearfix">
        <h2 class="pull-left">{{userDetail.user.data.name}}'s Profile</h2>
        <div class="pull-right"><button type="button" class="btn btn-primary" ui-sref="user.detail.edit({userId: userDetail.user.$id})">Edit</button></div>
        <div class="clearfix"></div>
    </div>
    <div class="main-box-body clearfix">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <img class="img-responsive img-circle center-block" ng-src="{{userDetail.user.getImageUrl()}}">
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>User ID</th>
                                <td>{{userDetail.user.$id}}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{userDetail.user.data.name}}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{userDetail.user.data.description}}</td>
                            </tr>
                            <tr>
                                <th>Skills</th>
                                <td>
                                    <span ng-repeat="skill in userDetail.user.data.skills" ng-class="userDetail.styles.skill">{{skill}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
