<div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">
                        You Will Like This Team Form App
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img alt="Unsplashed background img 3" src="background3.jpg" style="display: block;"/>
        </div>
    </div>
    <footer class="page-footer teal">
        <div class="container center" style="padding-bottom: 20px;">
            <h5 class="white-text">
                Team Bio
            </h5>
            <p class="grey-text text-lighten-4" >
                We are a team of college students working on this project like it's our COMP 3111H Project. Any amount would help support and continue development on this project and is greatly appreciated.
                
            </p>
        </div>
    </footer>
</div>
