

<div ng-controller='fishCtrl'>

  <!-- Event Card -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header teal-text">{{readyData.event.eventName}}</h1>

        <h5 class="header">{{readyData.event.eventDescription}}</h5>
      </div>
    </div>
    <div class="parallax"><img src="fish/image/bg.jpg" alt="Unsplashed background img 1" style="display: block;" height="200"></div>

  </div>
  


<div class="container">
  <!--   Collapsible structure -->
  <ul class="collapsible blue-grey darken-2" data-collapsible="expandable">
    <div ng-repeat="t in readyData.team">
      <li>
        <!--       Team Card -->
        <div class="collapsible-header active blue-grey darken-1" ng-click="showBody(t.teamID);">

          <div class="card horizontal">
            <div class="card-image">
              <img src="t.imageUrl" height='200'>
            </div>
            <div class="card-stacked">
              <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Team {{t.teamName}}</span>
                <span class="card-content"><p></p></span>
              </div>
            </div>
          </div>


        </div>

        <div class="collapsible-body-{{t.teamID}}">
          <div class="card sticky-action blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title activator">Team Leader</span>
              <div class="section">
                <div class="card horizontal">
                  <div class="card-image">
                    <img src="{{readyData.user[t.leaderID].profilePic}}" height='200'>

                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-3">{{readyData.user[t.leaderID].name}}</span>
                      <br/>
                      <span class="team-text-span grey-text text-darken-3">Skills:

       
                        <div class="chip focus teal lighten-1 white-text" ng-repeat="skill in readyData.user[t.leaderID].skills">{{skill}}</div>


                      </span>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link to personal profile</a>
                    </div>
                  </div>
                </div>
              </div>
              <span class="card-title activator">Team Members</span>

              <div class="section">

                <div class="container">
                  <div class="col s6" ng-repeat="memberID in t.membersID">
                    <div class="card horizontal">
                      <div class="card-image">
                        <img src="readyData.user[memberID].profilePic" height='200'>
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-3">{{readyData.user[memberID].name}}</span>
                          <br/>
                          <span class="team-text-span grey-text text-darken-3">Skills:
              <div class="chip focus teal lighten-1 white-text" ng-repeat="skill in readyData.user[memberID].skills">{{skill}}</div>
                          </span>
                        </div>
                        <div class="card-action">
                          <a href="#">This is a link to personal profile</a>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>


        
      </li>
    </div>
  </ul>
</div>


  
 
<event-footer>
</event-footer>
</div>
</li>
</ul>
</div>
</div>
