<html lang="en" ng-app="ability-test-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">

      <title>ability - test page</title>

      <script src="lib/jquery.min.js"></script>
      <script src="lib/bootstrap.min.js"></script>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" href="css/site.css" >

      <script src="js/site.js"></script>
   </head>

   <body>
        <nav class="navbar navbar-default">
           <div class="container">
              <div id="navbar" class="collapse navbar-collapse">
                 <ul class="nav navbar-nav navbar-left">
                 <li><a href="index.html">
                 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                 Back to the front-end</a></li>
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                   <li class="dropdown" id="fblogout">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding:0">
                      <div>
                      <span id="userName"></span>
                      <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                      <img id="fbicon" src="images/dp.jpg" width="48" height="48"/>
                      </div>
                      </a>
                      <ul class="dropdown-menu">
                        <li id="logout"><a href="#">Log out</a></li>
                      </ul>
                   </li>
                   <li>
                     <button type="button" class="btn btn-primary" id="blogin" onclick="document.getElementById('login-form').style.display='block'">Log In</button>
                   </li>
                 </ul>
              </div>
           </div>
        </nav>
        <br>
        <div id="abilitytest_page_controller" ng-controller="AbilityTestCtrl">
          <div class="text-center">
           <h1>Ability Test</h1>
          </div>
          <div class="text-right" ng-if="!finished">
            <h1  style="color:red;">Remain:{{textCounter}}</h1>
          </div>
          <div class="text-right" ng-if="finished">
            <h1  style="color:red;">Score: {{correctness/quiz.length * 100}}</h1>
          </div>
          <div class="col-xs-8 col-xs-offset-2">
            <div ng-repeat="question in quiz track by $index">
              <div class="row">
                <img src="images/tick.png" width="25" height="25" ng-if="finished && isCorrect(question.$id)">
                <img src="images/cross.png" width="25" height="25" ng-if="finished && !isCorrect(question.$id)">
                {{($index + 1) + ": " + question.question}}
              </div>
              <br></br>
              <ul class="list-unstyled" id="{{question.$id}}">
                <li ng-repeat="option in question.option" id="{{question.$id + '-' + $index}}">
                 <input type="radio" name="{{'answer-' + question.$id}}" ng-disabled="finished" ng-click="addanswer({questionId: question.$id, answer: option});">{{option}}
                </li>
              </ul>
              <br><br>
            </div>
          </div>
        
          <div class="text-center">
            <div class="col-xs-2 col-xs-offset-5">
              <button type="button" class="btn btn-primary" ng-disabled="finished" ng-click="submitFunc();">Submit</button>
            </div>
          </div>
        </div>

        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-route.min.js"></script>

        <script src="lib/firebase.js"></script>
        <script src="lib/angularfire.min.js"></script>

        <script src="js/abilitytest.js"></script>

        </body>
     </html>
