<!DOCTYPE html>
<html lang="en" ng-app="teamform-admin-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    
    <title>teamform - admin page</title>
      
    <script src="lib/jquery.min.js"></script>      
    <script src="lib/bootstrap.min.js"></script>      
      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">     
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/login.css">
    
    <script src="js/site.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container">
         <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
            <li><a href="index.html">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Back</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" id="blogout">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding:0">
                <div>
                <span id="userName"></span>
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <img id="fbicon" src="images/dp.jpg" width="48" height="48"/>
                </div>
                </a>
                <ul class="dropdown-menu">
                <li id="logOut"><a href="#">Log out</a></li>
                </ul>
              </li>               
              <li>
                <button type="button" class="btn btn-primary" id="blogin" onclick="document.getElementById('login-form').style.display='block'"> Log In
                </button>
              </li>
          </ul>
         </div>
      </div>
    </nav>

    <div login id="login-form" class="modal"></div>

    <br>    
    <div class="text-center">
      <h1>Administrative Page</h1>    
      <h2 id="text_event_name"></h2>    
      <div id="admin_page_controller" ng-controller="AdminCtrl">
        <div class="row">
          <div class="col-md-2 col-xs-2"></div>    
            <div class="col-md-8 col-xs-8 text-left panel">
              <strong>Minimum Team Size:</strong>
              <span class="badge">{{param.minTeamSize}}</span>
              <button><span class="glyphicon glyphicon-plus" ng-click="changeMinTeamSize(1);"></span></button>
              <button><span class="glyphicon glyphicon-minus" ng-click="changeMinTeamSize(-1);"></span></button>
              <button type="button" class="btn btn-primary" ng-click="saveFunc();" >Create/Modify</button>
              <br><br>
              <strong>Maximum Team Size: </strong>
              <span class="badge">{{param.maxTeamSize}}</span>
              <button><span class="glyphicon glyphicon-plus" ng-click="changeMaxTeamSize(1);"></span></button>
              <button><span class="glyphicon glyphicon-minus" ng-click="changeMaxTeamSize(-1);"></span></button>
              <br></br>
              <button type="button" class="btn btn-primary" ng-disabled="!willEnableSmartAssignment()" ng-click="smartAssignment();" >Smart Assignment</button>
              <button type="button" class="btn btn-primary" ng-click="terminateEvent();" >Terminate</button>
            </div>
          <div class="col-md-2 col-xs-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2 col-xs-2"></div>   
          	<div class="col-md-8 col-xs-8 text-left panel">  
				<h3>All teams:</h3>
           		<table class="table">
		           	<thead>
		           		<tr>
		           			<td>Team name</td>
		           			<td>Size</td>
		           			<td>Total Weight</td>
		           		</tr>
		           	</thead>
		           	<tbody ng-repeat="t in team">
		           	  <tr>
		           	    <td>
		           	      <p>
		           	        <button class="btn btn-info" ng-if="t.expanded" ng-click="t.expanded = false">-</button>
		           	        <button class="btn btn-info" ng-if="!t.expanded" ng-click="t.expanded = true">+</button>
		           	        {{t.$id}}
		           	      </p>
		           	    </td>
		           	    <td>{{t.teamMembers.length + "/"+ t.size}}</td>
		           	    <td>{{getTotalWeight(t.teamMembers)}}</td>
		           	  </tr>
		           	  <tr ng-if="t.expanded" ng-repeat-end="">
		           	    <td>#</td>
		           	    <td>Member name</td>
		           	    <td>Weight</td>
		           	  </tr>
		           	  <tr ng-if="t.expanded" ng-repeat="tm in t.teamMembers track by $index">
		           	    <td>{{$index + 1}}</td>
		           	    <td>{{getMemberName(tm)}}</td>
		           	    <td>{{getMemberWeight(tm)}}</td>
		           	  </tr>
					</tbody>
					<tbody>
						<tr>
							<td colspan="3">
								<p>
									<input class="btn btn-info" type="submit" value="-" ng-if="expanded" ng-click="setExpanded()"></input>
									<input class="btn btn-info" type="submit" value="+" ng-if="!expanded" ng-click="setExpanded()"></input>
									Users with no team
								</p>
							</td>
						</tr>
						<tr ng-if="expanded">
							<td>#</td>
							<td>User name</td>
							<td>Request to</td>
						</tr>
						<tr ng-if="expanded" ng-repeat="mem in member | filter: {inTeam: '!'}">
							<td>{{$index + 1}}</td>
							<td>{{getMemberName(mem.$id)}}</td>
							<td>{{mem.selection}}</td>
						</tr>
					</tbody>
				</table>
        	</div>    
        </div>
      </div>
    </div>

  
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-route.min.js"></script>

  <script src="lib/firebase.js"></script>     
  <script src="lib/angularfire.min.js"></script>
  
  <script src="js/admin.js"></script>
  
  </body>
</html>

