<!DOCTYPE html>
<html lang="en" ng-app="teamform-admin-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>teamform - admin page</title>
	  
      <!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	  -->
	        
      <script src="lib/jquery.min.js"></script>      
      <script src="lib/bootstrap.min.js"></script>      
      	  
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">     
     <link rel="stylesheet" href="css/site.css" >


      <!-- Customized libraries shared by pages -->
      <script src="js/site.js"></script>
	  	  
   </head>
   
   <!-- format the table below -->
   <style>
   td {
    padding: 10px;
	font-size: 20px;
   }
   
   h1 {
	font-weight: bold;
	font-size: 50px;
   }
   
   </style>
   

   <body  ng-controller="AdminCtrl">
   <div ng-include="'navbar.html'" id='navbarMenu'></div>
   <br>

   <div class="text-center">
      <h1><u>Administrative Page</u></h1>
	  <br>
      <div id="admin_event_div">
	      <table align ="center" border="1">
		  <tr align ="left"><td><strong>Event Name: </strong></td><td> {{param.eventName}}</td></tr>
	      <tr align ="left"><td><strong>About the Event: </strong></td><td> {{param.description}}</td></tr>
		  <tr align ="left"><td><strong>Admin: </strong></td><td> {{adminName}}</td></tr>
		  <tr align ="left"><td><strong>Minimum Team Size: </strong></td><td> {{param.minTeamSize}}</td></tr>
		  <tr align ="left"><td><strong>Maximum Team Size: </strong></td><td> {{param.maxTeamSize}}</td></tr>
		  <tr align ="left"><td><strong>Deadline: </strong></td><td> {{deadline | date:'dd/MM/yyyy'}}</td></tr>
		  <tr align ="left"><td><strong>Days Left: </strong></td><td> {{(deadline - today)/(1000*60*60*24) | number:0}}</td></tr>
		  </table>
		  <br>
		  
		  <button id="btn_event_edit" ng-click="edit_click()" ng-hide="editable">Edit the Event</button>
          
		  
		  <!-- 
		  <br>To be completed by christie<br>
          1. copy contect of controller<br>
          2. remove unnessary stuff<br>
          3. change to plain test rather than input<br>
          4. move to new html and ng-include that just like navbar<br>
          sample:<br>
          <strong>Deadline: </strong>{{deadline | date:'dd/MM/yyyy'}}<br>
          Date left: {{(deadline - today)/(1000*60*60*24) | number:0}}
          <br><br>
		  -->
      </div>
	  
	  
	  
	  
      <div id="admin_page_controller">
         <div class="row">
            <div class="col-md-8 col-xs-8 text-left panel" ng-show="editable">
              <!--description for event-->
                <strong>Event Name: </Strong>
                <input ng-model="param.eventName"><br>

                <strong>Description: </strong>
                <input ng-model="param.description" type="textarea"><br>
                
                <strong>Admin: </strong><a href="profile.html?q={{param.admin}}">{{adminName}}</a><br>
                <strong>Minimum Team Size:</strong>  
                    <span class="badge">{{param.minTeamSize}}</span>
                <button><span class="glyphicon glyphicon-plus" ng-click="changeMinTeamSize(1);"></span></button>
                <button><span class="glyphicon glyphicon-minus" ng-click="changeMinTeamSize(-1);"></span></button>
                <br><br>

                <strong>Maximum Team Size: </strong>  
                <span class="badge">{{param.maxTeamSize}}</span>
                <button><span class="glyphicon glyphicon-plus" ng-click="changeMaxTeamSize(1);"></span></button>
                <button><span class="glyphicon glyphicon-minus" ng-click="changeMaxTeamSize(-1);"></span></button>
                
                <br><br>
                <strong>Deadline: </strong>
                <input type="date" ng-model="deadline" min="{{today | date:'yyyy-MM-dd'}}"/>
                Days left: {{(deadline - today)/(1000*60*60*24) | number:0}}
                <br><br>
             <button type="button" class="btn btn-primary" ng-click="saveFunc();" >Save</button>
            </div>
         </div> 
        <!--end of edit panel-->
         <!--smart generator-->
         <button id="btn_smart_generator" type="button" class="btn btn-primary" ng-click="generate_click()" ng-hide="(deadline-today)>0" ng-disabled="editable">Generate teams</button>
        <!--show if achieve deadline-->
         <hr>

        <!--announcement div-->
        <div id="announcement_div">
            <!--new announcement-->
            <div id="new_announcement_div">
                <button id="btn_new_announcement" type="button" class="btn btn-primary" ng-click="new_announcement_click()" ng-disabled="writingAnnouncement">new announcement</button>
                <!--after click new new announcement button, it will show input text box and send button-->
                <div id="input_announcement" ng-show="writingAnnouncement">
                    Announcement: <input ng-model="announcement_text">
                    <button id="btn_make_announcement" type="buttn" class="btn btn-primary" ng-click="make_announcement(announcement_text)">Make announcement<br>
                </div>
            </div>
            <!--current announcement list-->
            <div id="announcement_list">
                  <h3>Announcements</h3><br>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Announcement</th>
                        <th>Announcement date</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="a in announcements">
                      <tr>
                        <td>{{a.text}}</td>
                        <td>{{a.date | date: 'dd/MM/yyyy'}}</td>
                        <!--edit announcement *** date will not be changed-->
                        <td><button type="button" class="btn btn-default" ng-click="edit_announcement_click(a)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button></td>
                        <!--del announcement-->
                        <td><button type="button" class="btn btn-default" ng-click="del_announcement_click(a)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
            </div>
        </div><br>
        <!--end of announcement div-->

        <!--teams & member list-->
        <div class="row">
            <div class="col-md-6 col-xs-6 text-right" >
              <h3>All teams:</h3>
              <!--<div ng-include="'teamList.html'" id="teamList"></div>-->
              <table id="teamsList" class="table table-hover">
                  <thead>
                    <tr>
                      <th>Team Name</th>
                      <th>Team Leader</th>
                      <th>Team members</th>
                      <th>Preference</th>
                      <th>Action(not done)</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="t in teams" ng-init="getUserNameInTeam(t)">
                    <tr>
                      <td>{{t.teamName}}</td>
                      <td>{{t.teamLeaderName}}</td>
                      <td>
                        <span ng-repeat="member in t.members">
                          <a href="profile.html?q={{member.memberID}}">{{member.memberName}}</a>{{$last ? '' : ', '}}
                        </span>
                      </td>
                      <td>{{t.preference}}</td>
                      <td><button><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                    </tr>
                  </tbody>
              </table>
            </div>
			 
			      <div class="col-md-6 col-xs-6 text-left">
                <h3>All members:</h3>
                <ul ng-repeat="m in member">
                  <li>ID = {{m.$id}} <br> 
                  Name = {{m.name}} <br>
                  request to join the following teams: {{m.selection | json}}</li>
                </ul>
            </div>
          </div>
          <!--end of teams & member list-->

          <!-- create team button -->
          <button id="btn_createTeam" type="button" class="btn btn-primary" ng-click="createTeam('default')">Create team</button>

      </div>


   </div>   <!--end of admin_page_controller-->
   


   <!-- JavaScript of this page -->

   <!-- Angular and Angular-route libraries (v1.5.7) -->
   <script src="lib/angular.min.js"></script>
   <script src="lib/angular-route.min.js"></script>        
     
   <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
   <script src="lib/firebase.js"></script>     
   <script src="lib/angularfire.min.js"></script>

   <script src="js/admin.js"></script>

   </body>
</html>

