<!DOCTYPE html>
<html lang="en" ng-app="chatRoom">
	<head>
	<meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">

      <title>teamform - chat room</title>

      <script src="lib/jquery.min.js"></script>
      <script src="lib/bootstrap.min.js"></script>
      
      <link rel="stylesheet" href="css/normalize.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/site.css" >
      <link rel="stylesheet" href="css/login.css">


      <script src="js/site.js"></script>
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/chatRoom.css">
	
	</head>
	
	<body>
		<!-- Bar -->
		<nav class="navbar navbar-default">
      <div class="container">
         <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
            <li><a href="index.html">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Back</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" id="blogout">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding:0">
                <div>
                <span id="userName"></span>
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <img id="fbicon" src="images/dp.jpg" width="48" height="48"/>
                </div>
                </a>
                <ul class="dropdown-menu">
                <li id="logOut"><a href="#">Log out</a></li>
                </ul>
              </li>               
              <li>
                <button type="button" class="btn btn-primary" id="blogin" onclick="document.getElementById('login-form').style.display='block'"> Log In
                </button>
              </li>
          </ul>
         </div>
      </div>
    </nav>

    <div login id="login-form" class="modal"></div>

		<div class="chat-box" ng-controller="chatRoomCtrl">
      <div class="chat-header">
        <div class="user-profile active"></div>
        <h5 id="event_name"></h5>
      </div>
      <div class="chat-container">
        <div class="message {{msgAlt(text.userName)}}" ng-repeat="text in chatList">
          <div class="bubble {{bubbleAlt(text.userName)}}">
            <h5 ng-hide="ownMsg(text.userName)" class="sender"><strong>{{text.userName}}</strong></h5>
            <p>{{text.message}}</p>
          </div>
          <span class="datestamp">{{timeSince(text.date)}}</span>
        </div>
      </div>
      <div class="chat-control">     
        <div class="input-group">   
          <input class="form-control" type="text" name="message" ng-model="input.message" placeholder="Enter your message..." />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="addMessage()">Send</button></span>
        </div>
      </div>
    </div>
			<!-- Chat List -->
			<!-- <div class="list-messages" id="listMessages">
				<p>Messages:</p>
				<ul ng-repeat="text in chatList">
					{{text.userName}}:
					{{text.message}} </br>
					{{text.date}}
				</ul>
			</div> -->
			<!-- Input -->
			<!-- <div class="new-message" id="newMessage">
			<input id="message" type="text" name="message" ng-model="input.message" placeholder="Enter your message..."> -->
      <!-- <textarea class="form-control" rows="5"></textarea>	 -->
			<!-- <button type="button" ng-click="addMessage()"  class="btn btn-success">Sent</button>		
			</div>
		</div> -->
		<!-- Controller -->
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-route.min.js"></script>
			
		<script src="lib/firebase.js"></script>
		<script src="lib/angularfire.min.js"></script>
		
		<script src="js/chatRoom.js"></script>
	</body>
</html>