<html ng-app="chatRoom">
	<head>
	<!-- Boostrap -->
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
	
	<!-- FireBase -->
	<script>
	// Initialize Firebase
	var config = {
		apiKey: "AIzaSyDInaL2TYTksmtpQy35rmS-DSEmkWqxcU0",
		authDomain: "projecttesting-cd63f.firebaseapp.com",
		databaseURL: "https://projecttesting-cd63f.firebaseio.com",
		storageBucket: "projecttesting-cd63f.appspot.com",
		messagingSenderId: "936855257877"
	};
	firebase.initializeApp(config);
	
	</script>
	
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
	</head>
	
	<body>
		
		
		<div ng-submit="addMessage()">
		<input type="text" ng-model="message" placeholder="Please enter your message..." >	
		<input type="submit" value="Sent" >		
		</form>
		</div>
		
		<div class="col-md-8">
				<p>Debug:</p>
				<pre>input = {{ message }}</pre>
		</div>
		
		<div class="col-md-8">
			<p>Messages:</p>
			<ul ng-repeat="text in list">>
				{{text.message}}
			</ul>
		</div>
		
		<!-- Controller -->
		<script src="chatRoom.js"></script>

		
	</body>
</html>