<body ng-app="events">
         <h1>Create Event</h1>
         <div ng-controller="eventSubmit">
         <form name="eventForm">          
            <p>Name:
             <input name="newEventName" ng-model="input.name" required>
             <span ng-show="eventForm.newEventName.$touched && eventForm.newEventName.$invalid">The event name is required.</span>
            </p>

            <p>Introduction:
             <input name="newEventIntro" ng-model="input.intro" required>
             <span ng-show="eventForm.newEventIntro.$touched && eventForm.newEventIntro.$invalid">The event introduction is required.</span>
            </p>
            <button ng-click="submit()" ng-disabled= "eventForm.newEventIntro.$invalid || eventForm.newEventName.$invalid">Submit</button>
          </form>
         </div>
    </body>   
