<!DOCTYPE html>
<html lang="en" ng-app="index-app" ng-controller="LoginCtrl">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>teamform - A real-time online team forming app</title>
	  
      <!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	  -->
	        
    <script src="lib/jquery.min.js"></script>      
    <script src="lib/bootstrap.min.js"></script>      
      	  
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">   
    <link rel="stylesheet" href="css/custom.css"> 
      
      <!-- Customized libraries shared by pages -->

      <script src="js/site.js"></script>	  	  

	  <style>
	  .rotate{
	   -webkit-transition-duration:0.8s;
	   -moz-transition-duration:0.8s;
	   -o-transition-duration:0.8s;
	   transition-duration:0.8s;
	   -webkit-transition-property:-webkit-transform;
	   -moz-transition-property:-moz-transform;
	   -o-transition-property:-o-transform;
	   transition-property:transform;
	   overflow:hidden;
	   }
	   
	   .rotate:hover{
	   -webkit-transform:rotate(360deg);
	   -moz-transform:rotate(360deg);
	   -o-transform:rotate(360deg);
	   }
	  </style>
	  
   </head>


   <body>
      <!--Menu bar-->
      <div ng-include="'navbar.html'" id='navbarMenu'></div>

      <!--Login interface-->
      <section  style="background-image: url('img/img1.jpg');" class="login_box_section img-responsive" ng-hide="loggedIn">
      
        <div class="intro col-md-7">
                <h2 class="featurette-heading" id='pageAbout'>What is teamform?
                    <br>
                    <span class="text-muted">A real-time online team forming app</span>
                </h2>
                
                 <div class="col-md-11" ng-include="'about.html'" ></div>
        </div>
      

      <div class="container col-md-4" id="login_box" >
        <form><!--Hide this when login-->
        <p class="login_heading">Login to teamform</p>
        <table class="table borderless" style="background-color: white; ">
          <tbody>
            <tr>
              <td width="15%" class="login_label text-center vertical-center" ><label><span class="glyphicon glyphicon-envelope" ></span></label></td>
              <td width="85%"><input ng-model="txtEmail"  type="email" placeholder="E-mail"></td>
            </tr>
            <tr>
              <td class="login_label text-center "><label><span class="glyphicon glyphicon-lock" ></span></label></td>
              <td><input ng-model="txtPassword" type="password" placeholder="Password"></td>
            </tr>
  
          </tbody>
        </table>
          <button id="btnLogin" class="btn btn-primary pull-right" ng-click="login()">Login</button>
          <button id="btnSignUp" class="btn btn-primary " ng-click="signup()">Sign Up</button>
        </form>
      </div>
      </section>
      <div class="container col-md-1">
        </div>
		
        <div ng-show="loggedIn"><!--Show this when login-->
        <img src="img/teamform_banner_thin.jpg" alt="teamform_banner" style="width:100%;">
		    <br><br>
		    
            <form name="Eventform" class="css-form ">

                    <!-- A sample login page -->
                    <div id="page_home">
                      <div > 
                        <br>
                        <!--enter event-->

                          <!--filter/search event (if event not exsist, ask if user want to create one)-->
                          <!--event list-->
                          <!--enter event name and join(just for testing)-->
                        <!--create event and become admin-->
                        <div class="text-center">
                            <font size="5"><b>Create a New Event&nbsp;</b></font> 
							<label>
							  <button id="btn_createEvent" type="button" class="btn btn-primary" ng-click="createNewEvent('')">+ New</button>
							</label>
                            <div>
                              <font size="5"><b>...or Choose an Existing Event Below:</b></font>
                            </div>

                              <div ng-repeat="event in events" class="col-md-4">
                                <br>
                                <div class="col-md-1">
                                </div>
                                <button class="event_item col-md-10" ng-click="enterEvent(event.$id)">
                                  <div class="col-md-2">
                                    <div class="event_item_date pull-right">
                                      <div class="event_item_day">{{event.admin.param.deadline | date:'dd'}}</div>
                                      <div class="event_item_month">{{event.admin.param.deadline | date:'MMM'}}</div>
                                      <!--({{event.admin.param.deadline | date:'dd/MM/yyyy'}})-->
                                    </div>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="event_item_name row text-left ">
                                      <p  >{{event.admin.param.eventName}}</p>
                                    </div>
                                    <div class="event_item_description row text-left">
                                      {{event.admin.param.description}}
                                    </div>
                                  </div>
     

                                  <!--<div class="row">
                                    <button id="btn_createEvent" type="button" class="btn btn-primary" ng-click="enterEvent(event.$id)">Enter</button>
                                  </div>-->
                                </button>
                              </div>


                            
                            <!--enter: jump to relative page-->
                            <!--enter: if eventName is niexsit, ask user if they want to create new event-->

                            <!--create event with eventname(can be empty)-->
                            
                        </div>

                        <br>
                        <br>


                      </div>
                    </div>
            </form>
        </div>
	  


      <!-- Marketing messaging and featurettes
         ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="container marketing">

         <!-- Show the current event list  -->
		 <!--
         <div class="row featurette" id="event_list">

            <div class="col-md-12"><br><hr>
               <h1 class="featurette-heading"><u>Current Event List
                  </u></h1><h2>
                  <span class="text-muted">Events created by other users. Join us now!</span>
               </h2>
            </div>

         </div>
            <div class="row" ng-repeat="event in events">
				<div ng-show="filter(event.admin.param.eventName)">
				  <div class="col-md-6 col-xs-6">
					<ul>
					  <li>
					   <h4> Event name: <br></h4>
					   <h4> <span class="text-muted btn" ng-click="enterEvent(event.$id)" > <strong>  {{event.admin.param.eventName}}  </strong> </span></h4>  
					   <button id="btn_enterEvent" type="button" class="btn btn-primary" ng-click="enterEvent(event.$id)">Enter</button>
					   <br>
					  </li>
					</ul>
				  </div>
				  <div class="col-md-6 col-xs-6 text-left" >
					<ul>
					  <li>
					 <h4> Event Description:</h4>
					   {{event.admin.param.description}}
					  <br>
					  </li>
					</ul>
				  </div>
				 </div>
            </div>
        -->

      <hr class="featurette-divider">
          <!-- START THE FEATURETTES -->
         <div class="row featurette">
            <div class="col-md-12">
			   <br>
			   <div id="pageTeam">
               <h2 class="featurette-heading">Development Team
                  </h2><h3>
                  <span class="text-muted">418 I'm a Teapot</span>
               </h3>

               <div class="row">
            
            
                 <div class="col-xs-6 col-md-3">
                  <div class="thumbnail text-center">
                    <img class="img-circle img-responsive rotate" src="img/dev_team/bryan.jpg" width="150" height="150">
                    <div class="caption">
                     <h4>Bryan Keung</h4>
                     <p><a href="mailto:bkeung@connect.ust.hk">bkeung@connect.ust.hk</a></p>
                    </div>
                  </div>
                 </div> 

                 <div class="col-xs-6 col-md-3">
                  <div class="thumbnail text-center">
                    <img class="img-circle img-responsive rotate" src="img/dev_team/christie.jpg" width="150" height="150">
                    <div class="caption">
                     <h4>Christie Tse</h4>
                     <p><a href="mailto:tyctse@connect.ust.hk">tyctse@connect.ust.hk</a></p>
                    </div>
                  </div>
                 </div> 
              
                 <div class="col-xs-6 col-md-3">
                  <div class="thumbnail text-center">
                    <img class="img-circle img-responsive rotate" src="img/dev_team/cindy.jpg" width="150" height="150">
                    <div class="caption">
                     <h4>Cindy Ng</h4>
                     <p><a href="mailto:myngad@connect.ust.hk">myngad@connect.ust.hk</a></p>
                    </div>
                  </div>
                 </div> 
				 
                 <div class="col-xs-6 col-md-3">
                  <div class="thumbnail text-center">
                    <img class="img-circle img-responsive rotate" src="img/dev_team/eric.jpg" width="150" height="150">
                    <div class="caption">
                     <h4>Eric Yu</h4>
                     <p><a href="mailto:hyyuab@connect.ust.hk">hyyuab@connect.ust.hk</a></p>
                    </div>
                  </div>
                 </div> 
				 
                 <div class="col-xs-6 col-md-3">
                  <div class="thumbnail text-center">
                    <img class="img-circle img-responsive rotate" src="img/dev_team/mike.jpg" width="150" height="150">
                    <div class="caption">
                     <h4>Mike Wong</h4>
                     <p><a href="mailto:mwongac@connect.ust.hk">mwongac@connect.ust.hk</a></p>
                    </div>
                  </div>
                 </div> 
				 
                 <div class="col-xs-6 col-md-3">
                  <div class="thumbnail text-center">
                    <img class="img-circle img-responsive rotate" src="img/dev_team/ronald.jpg" width="150" height="150">
                    <div class="caption">
                     <h4>Ronald Shum</h4>
                     <p><a href="mailto:khshumab@connect.ust.hk">khshumab@connect.ust.hk</a></p>
                    </div>
                  </div>
                 </div> 
				 
                 <div class="col-xs-6 col-md-3">
                  <div class="thumbnail text-center">
                    <img class="img-circle img-responsive rotate" src="img/dev_team/vivian.jpg" width="150" height="150">
					<div class="caption">
					 <h4>Vivian Lee</h4>
                     <p><a href="mailto:htleeab@connect.ust.hk">htleeab@connect.ust.hk</a></p>
                    </div>
                  </div>
                 </div> 
				 
               </div>

             </div>
			 
			 </div>

         </div>

          <!--about teamform after login-->
        <div ng-show="loggedIn" > 
            <h2 class="featurette-heading ">What is teamform?</h2>    
            <div  id='aboutTeamform' ng-include="'about.html'"></div>
        </div>

         <!-- /END THE FEATURETTES -->
         <!-- FOOTER -->
         <hr>
         <footer>
            <p class="pull-right"><a style="cursor: pointer" ng-click="scrollToTop()">Back to top</a></p>
            <p>&copy; 2017 COMP3111/H teaching team </p>
            <p>Powered by <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></p>
         </footer>
      </div>
      <!-- /.container -->

      <!-- Angular and Angular-route libraries (v1.5.7) -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <script src="lib/angular-route.min.js"></script>        
     
      <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
      <script src="lib/firebase.js"></script>     
      <script src="lib/angularfire.min.js"></script>


      <!-- JavaScript of this page -->
      <script src="js/index.js"></script>


   </body>
</html>