<body ng-app="teamApp">
         <h1>Edit Team</h1>
         <div ng-controller="kick">
         <form name="teamForm">          
            Please select the event below: <br>
        <select ng-model="selectedName" ng-options="x.name for x in event">
        </select>
         <div ng-repeat="(key1, g) in selectedName.Team" ng-if="idd == g.teamleader">
             <h2>Team Name: {{g.name}}</h2> <br>Member Name: <br>
         <div data-ng-repeat="(key, q) in g.member">
            {{q.name}} <button type="button" ng-click="kickk(selectedName,key1,key,g);">Remove</button>
         </div></div>
          </form>
         </div>
</body>
