.preload.login--container
  .login--form
    .login--username-container
      %label Username
      %input(type="text" placeholder="Username" autofocus)

    .login--password-container
      %label Password
      %input(type="password" placeholder="Password")
      %button.js-toggle-login.login--login-submit Login
 
  .login--toggle-container
    %small Hey you,
    .js-toggle-login Login
    %small already

    
    
    
%footer
  %a(href="https://twitter.com/code_dependant" class="twitter-follow-button" data-show-count="false")
    Follow @code_dependant
  %script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  