<!DOCTYPE html>
<html lang="en" ng-app="teamform-manage_team-app" id="manage_team_page_controller" ng-controller="ManageTeamCtrl">
<head>
	<meta charset="utf-8" >
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
		<title >LIGHT OF WISDOM - Managing {{EventName}} Event - {{TeamName}} Team</title>

	<link rel="shortcut icon" href="assets/images/logo.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->

   <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>

      <!-- Angular Library -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

      <!-- Firebase -->
   <script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>

      <!-- AngularFire URL: https://github.com/firebase/angularfire -->
   <script src="https://cdn.firebase.com/libs/angularfire/2.0.0/angularfire.min.js"></script>


   <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>     
     
   <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
   <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
   <script src="assets/lib/firebase.js"></script>     
   <script src="assets/lib/angular-route.min.js"></script>    
   <script src="assets/js/headroom.min.js"></script>
   <script src="assets/js/jQuery.headroom.min.js"></script>
   <script src="assets/js/template.js"></script>


   <script src="assets/js/site.js"></script>
   <script src="assets/js/manage_team.js"></script>
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse" >
				<ul class="nav navbar-nav pull-right">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="sidebar-left.html">Left Sidebar</a></li>
							<li class="active"><a href="sidebar-right.html">Right Sidebar</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contact</a></li>
					<li><a class="btn" ng-click="loginwithgoogle()">SIGN IN WITH GOOGLE</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container-fluid">
	
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">About</li>
		</ol>
      <h2 style="text-align:center" >Managing {{EventName}} Event - {{TeamName}} Team</h2>
		</div>
	<div class="container-fluidspace">

		<div class="row">

       

            <div style="padding:40px">
                <h2 >Request</h2>
            </div>

            <div class="container-fluid">
				
				    <div class="row">
                    <div class="col-sm-12"style="padding-bottom:40px">
                        
                        <div class="col-sm-3" style="padding-top:20px">
							<img src="assets/images/2.jpg">
							</div>
							<div class="col-sm-6" >
							<b>Request from <i>"name"</i> on "date&time"</b>
							<textarea placeholder="'name' wrote xxxxxx" class="form-control" rows="6"></textarea>
							</div>
							<div class="col-sm-3" style="padding-top:20px">
							<input class="btn btn-action" type="submit" value="Accept">
							<input class="btn btn-action" type="submit" value="Reject">
							</div>
							
                    </div>
					
				<div class="col-sm-12"style="padding-bottom:40px">
                        
                        <div class="col-sm-3" style="padding-top:20px">
							<img src="assets/images/2.jpg">
							</div>
							<div class="col-sm-6" >
							<b>Request from <i>"name"</i> on "date&time"</b>
							<textarea placeholder="'name' wrote xxxxxx" class="form-control" rows="6"></textarea>
							</div>
							<div class="col-sm-3" style="padding-top:20px">
							<input class="btn btn-action" type="submit" value="Accept">
							<input class="btn btn-action" type="submit" value="Reject">
							</div>
							
                    </div>
                  
                   
                </div>
				</div>
                
             
			
			


             <div style="padding:40px">
                <h2 >Edit team</h2>
            </div>
			
			<!-- Article main content -->
            <form style="background-color:#806517; padding:20px;">
                <div class="row" >
                    <div class="col-sm-12">
                        <p>Team Name</p>
                         <h3 style="text-align:center" > {{TeamName}} Team</h2>
                    </div>
                  
                   
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <p>Team Description</p>
                        <textarea  ng-model="input.description" placeholder="Original Team Description" class="form-control" rows="9"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox"><input type="checkbox"> xxxxxxxx</label>
                    </div>
                    <div class="col-sm-6 text-right">
                        <input class="btn btn-action" type="submit" value="Edit" ng-click="saveFunc()">
                    </div>
                </div>
            </form>











			
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>Light of Wisdom<br>
								<a href="mailto:#">lightofwisdom3111@gmail.com</a><br>
								<br>
								"phone: 31800000"
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Follow me</h3>
						<div class="widget-body">
							<p class="follow-me-icons clearfix">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>