<!DOCTYPE html>
<html lang="en" ng-app="teamform-member-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">

      <title>teamform - member page</title>

      <script src="lib/jquery.min.js"></script>
      <script src="lib/bootstrap.min.js"></script>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" href="css/site.css" >

      <script src="js/site.js"></script>
   </head>

   <body ng-controller="MemberCtrl">

   <nav class="navbar navbar-default">
      <div class="container">
         <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
            <li><a href="index.html">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Back to the front-end</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" id="fblogout">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding:0">
                 <div>
                 <span id="userName"></span>
                 <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                 <img id="fbicon" src="images/dp.jpg" width="48" height="48"/>
                 </div>
                 </a>
                 <ul class="dropdown-menu">
                   <li id="logout"><a href="#">Log out</a></li>
                 </ul>
              </li>
              <li id="fblogin">
                <button type="button" class="btn btn-primary"> Log In
                </button>
              </li>
            </ul>
         </div>
      </div>
   </nav>
   <br>

   <div class="text-center">
      <h1>Member Page</h1>
      <h2 id="text_event_name"></h2>
      <br>
       <div id="member_page_controller">
         <div class="row">
            <div class="col-md-3 col-xs-2"></div>
            <div class="col-md-6 col-xs-8 panel">
               <form class="form-horizontal">                  
                  <div class="col-xs-10">
                    <div class="form-group">
                      <label for="inputUserID" class="col-xs-3 control-label">User ID</label>
                      <div class="col-xs-9">
                        <input type="text" class="form-control" id="inputUserID" ng-model="userID" placeholder="Enter your User ID">
                      </div>
                      </div>
                      <div class="form-group">
                      <label for="inputName" class="col-xs-3 control-label">Name</label>
                        <div class="col-xs-9">
                        <input type="text" class="form-control" id="inputUserName" ng-model="userName" placeholder="Type in your name">
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <button type="button" class="btn btn-primary" id="savebtn" ng-click="saveFunc();" >Save</button>
        					</div>                  
               </form>
               </div>
               <div class="col-md-3 col-xs-2"></div>
         </div>
	 <div class="row">
           <button type="button" class="btn btn-primary" id="atbtn" ng-click="atFunc();" >ability test</button>
         </div>
         <div class="row">
			       <div class="col-md-3 col-sm-2 col-xs-1"></div>
  			     <div class="col-md-6 col-sm-8 col-xs-10 text-left">
              <h4 class="text-center" id="teamStatus"></h4>
  				    <h3>Your team preference:</h3>
    			       <div ng-repeat="team in teams">
      					 <div class="checkbox">
      						<label><input type="checkbox" value="{{team.$id}}" 
      						  ng-checked="selection.indexOf(team.$id) > -1"
      						  ng-click="toggleSelection(team.$id)">
      						{{team.$id}}</label>
      					 </div>
    				    </div>
  				    </div>
            <div class="col-md-3 col-sm-2 col-xs-1"></div>
         </div>
       </div>
   </div>

   <script src="lib/angular.min.js"></script>
   <script src="lib/angular-route.min.js"></script>
     
   <script src="lib/firebase.js"></script>
   <script src="lib/angularfire.min.js"></script>

   <script src="js/member.js"></script>

   </body>
</html>

