<!DOCTYPE html>
<html lang="en" ng-app="teamform-index-app">
   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="keywords" content="teamform, team">
     <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
     <title>teamform - personal setting page</title>
     <!-- libraries and CSS
  JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)
  Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
  Font-awesome: More icons for the web development (v4.6.3 is used)
  site.css: A customized css for our web application. Not from any web framework.
  -->

     <script src="lib/jquery.min.js"></script>
     <script src="lib/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
     <link rel="stylesheet" href="css/site.css" >

     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">


     <!-- Customized libraries shared by pages -->
     <script src="js/site.js"></script>

     <style>
      div.lightblue {
       background-color:#F0F8FF ;
       color: black;
       margin: 20px 0 20px 0;
       padding: 20px;
     }
     div.lightgrey {
      background-color:#A9A9A9 ;
      color: black;
      margin: 20px 0 20px 0;
      padding: 20px;
    }
     h2{font-size:250%; color:lightblue;}
     p{font-size:150%;}
     </style>


   </head>
   <body ng-controller="IndexCtrl">


           <a href="index.html"
           <button id="btn_admin" type="button" class="btn btn-primary" >
           <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
           Back</button></a>

           <br>

           <div class="text-center">
              <h1>My Profile</h1>
              <p style="color:red"> Still in Progress</p>

              <div class="text-center">

                <br>
                <p ng-show="logined"><b><i>Hello {{username}} !</i></b></p>
                <br>
              </div>
            </div>

        <!--Personal Data -->
        <div>
          <h2> Personal Data</h2>
          <form>
            <div class="jumbotron" >
              <p> Describe Who You Are</p>
            <textarea class="form-control" rows="3" style="max-width: 80%;" ng-model="info.intro"></textarea>
            </div>
           <div class="lightblue">
             <p> Which school are you from?</p>

               <input type="radio" value="SENG" ng-model="info.major"> School of Engineering<br>
               <input type="radio" value="SBM" ng-model="info.major"> School of Business and Management<br>
               <input type="radio" value="SSC" ng-model="info.major"> School of Science<br>
               <input type="radio" value="SHSS" ng-model="info.major"> School of Humanities and Social Science<br>

               </div>

            <div class="lightgrey">
               <p> Where are you from?</p>

                 <input type="radio" value="HK" ng-model="info.native"> Hong Kong<br>
                 <input type="radio" value="China" ng-model="info.native"> China<br>
                 <input type="radio" value="Asia" ng-model="info.native"> Asia<br>
                 <input type="radio" value="NA" ng-model="info.native"> North America<br>
                 <input type="radio" value="EU" ng-model="info.native"> Europe<br>
                 <input type="radio" value="Other" ng-model="info.native"> Other

             </div>

             <div class="lightblue">
               <p> Which hall do you live in?</p>

                 <input type="radio" value="hall1" ng-model="info.hall"> Hall I<br>
                 <input type="radio" value="hall2" ng-model="info.hall"> Hall II<br>
                 <input type="radio" value="hall3" ng-model="info.hall"> Hall III<br>
                 <input type="radio" value="hall4" ng-model="info.hall"> Hall IV<br>
                 <input type="radio" value="hall5" ng-model="info.hall"> Hall V<br>
                 <input type="radio" value="hall6" ng-model="info.hall"> Hall VI<br>
                 <input type="radio" value="hall7" ng-model="info.hall"> Hall VII<br>
                 <input type="radio" value="hall8" ng-model="info.hall"> Hall VIII<br>
                 <input type="radio" value="hall9" ng-model="info.hall"> Hall IX<br>
                 <input type="radio" value="nohall" ng-model="info.hall"> I don't live in hall

                 </div>

                 <div class="lightgrey">
                    <p> What kind of group are you looking for?</p>

                      <input type="radio" value="gradeA" ng-model="info.aim"> Elite<br>
                      <input type="radio" value="gradeB" ng-model="info.aim"> Work hard together !<br>
                      <input type="radio" value="gradeC" ng-model="info.aim"> Making new friends<br>
                      <input type="radio" value="gradeD" ng-model="info.aim"> I don't care !

                  </div>




                 <div style="text-align: center;">
                 <input type="submit" value="Confirm" ng-click="btn_save();"><br ><br >
                 </div>
                </form>
              </div>




           <!-- JavaScript of this page -->

           <!-- Angular and Angular-route libraries (v1.5.7) -->
           <script src="lib/angular.min.js"></script>
           <script src="lib/angular-route.min.js"></script>

           <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
           <script src="lib/firebase.js"></script>
           <script src="lib/angularfire.min.js"></script>

           <script src="js/index.js"></script>


      </body>
</html>
