<body ng-app="teamApp">
	<style>
		table,th, td {
			border: 1px solid black;
		}
	</style>
	<h1>No idea about choosing team? How about choose a team randomly?</h1>
	<div ng-controller="random_Team">           
		Please select the event below: <br>
		<select ng-model="selectedName" ng-options="x.name for x in event" ng-change="setEvent(selectedName.$id)"></select>
		<br><br><br>
		Please select which type of team do you want: <br>
		<input type="radio" ng-model="randMethod"  value="rrand">Really random <br>
		<!--<input type="radio" ng-model="randMethod" ng-change="scope.eventID.$save(selectedName)" value="rrand">Really random <br>-->
		<!--<input type="radio" ng-model="randMethod" value="full">Almost full <br>
		<input type="radio" ng-model="randMethod" value="age">Age <br>-->
		
		
		<div ng-switch="randMethod">
			<div ng-switch-when="rrand">
				<h3>List of Team(Really random): </h3><br>
				<div data-ng-repeat="q in event" data-ng-if="q.name == selectedName.name ">

					<table width="400">
						<tr align="center">
							<td align="center"><b>Name:</b></td>
							<td align="center"><b>Intro.</b></td>
							<td><b>Join(In Person)</b></td>
						</tr>
						
						<tr data-ng-repeat="g in teamOfChosenEvent| orderBy:random" ng-if="(g.openness == true)">
							<td align="center">{{g.name}}</td>
							<td align="center">{{g.intro}}</td>
							<td align="center">
								<div ng-controller="joinTeam">
									<button ng-click="joinTeamInPerson(q.name,g.name)">Join</button>
								</div>
							</td>
						</tr>
					</table>
					<br><br><br>
					Feel free to try again if you still have no idea.
					<button ng-click="" ng-init="">
					  Try again!!!
					</button>


				</div>
			</div>
			<!--<div ng-switch-when="full">
				<h3>List of Team(Almost full): </h3><br>
				<div data-ng-repeat="q in event" data-ng-if="q.name == selectedName.name ">
					<table width="400">
						<tr align="center">
							<td align="center"><b>Name:</b></td>
							<td align="center"><b>Intro.</b></td>
							<td><b>Join(In Person)</b></td>
						</tr>
						<tr data-ng-repeat="g in q.Team" ng-if="(g.name.indexOf(searchText) > -1 && g.openness == true) || (!searchText && g.openness == true)">
							<td align="center">{{g.name}}</td>
							<td align="center">{{g.intro}}</td>
							<td align="center">
								<div ng-controller="joinTeam">
									<button ng-click="joinTeamInPerson(q.name,g.name)">Join</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div ng-switch-when="age">
				<h3>List of Team(Age): </h3><br>
				<div data-ng-repeat="q in event" data-ng-if="q.name == selectedName.name ">
					<table width="400">
						<tr align="center">
							<td align="center"><b>Name:</b></td>
							<td align="center"><b>Intro.</b></td>
							<td><b>Join(In Person)</b></td>
						</tr>
						<tr data-ng-repeat="g in q.Team" ng-if="(g.name.indexOf(searchText) > -1 && g.openness == true) || (!searchText && g.openness == true)">
							<td align="center">{{g.name}}</td>
							<td align="center">{{g.intro}}</td>
							<td align="center">
								<div ng-controller="joinTeam">
									<button ng-click="joinTeamInPerson(q.name,g.name)">Join</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>-->
		</div>
		


        
	</div>
         
</body>   

