<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

    <script src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBeH4V9bsh-06W46RkiDd2eMlpN3c0IVj8",
            authDomain: "comp3111-bb108.firebaseapp.com",
            databaseURL: "https://comp3111-bb108.firebaseio.com",
            storageBucket: "comp3111-bb108.appspot.com",
            messagingSenderId: "554833059052"
        };
        firebase.initializeApp(config);
    </script>
</head>

<body>
    <div ng-controller="AuthCtrl" class="container">
		<h1>Register</h1>
        <div class="row">
            <form name="registerForm" class="css-form col-md-4" novalidate>
                <div class="form-group">
                    <label>Email: <span class="required " ng-show="registerForm.email.$error.required"></span> </label>
                    <input class="form-control" type="text" name="rEmail" ng-model="rInput.email" required>
                </div>

                <div class="form-group">
                    <label>Username: <span class="required" ng-show="registerForm.username.$error.required"></span></label>
                    <input class="form-control" type="text" name="rUsername" ng-model="rInput.username" required>
                </div>

                <div class="form-group">
                    <label>Password: <span class="required" ng-show="registerForm.password.$error.required"></span></label>
                    <input class="form-control" type="password" name="rPassword" ng-model="rInput.password" required>
                </div>

                <input class="btn btn-primary" type="button" value="Submit" ng-click="signUp()" ng-disabled="!rInput.email || !rInput.username || !rInput.password">
            </form>
        </div>
        <span>{{regMessage}}</span>
		
		<br />
		
		<h1>Login</h1>
        <div class="row">
            <form name="LoginForm" class="css-form col-md-4" novalidate>
                <div class="form-group">
                    <label>Email: <span class="required " ng-show="LoginForm.email.$error.required"></span> </label>
                    <input class="form-control" type="text" name="lEmail" ng-model="lInput.email" required>
                </div>

                <div class="form-group">
                    <label>Username: <span class="required" ng-show="LoginForm.username.$error.required"></span></label>
                    <input class="form-control" type="text" name="lUsername" ng-model="lInput.username" required>
                </div>

                <div class="form-group">
                    <label>Password: <span class="required" ng-show="LoginForm.password.$error.required"></span></label>
                    <input class="form-control" type="password" name="lPassword" ng-model="lInput.password" required>
                </div>

                <input class="btn btn-primary" type="button" value="Submit" ng-click="signIn()" ng-disabled="!lInput.email || !lInput.username || !lInput.password">
            </form>
        </div>
        <span>{{LoginMessage}}</span>
    </div>

    <!-- Question Controller -->
    <script src="app.js"></script>

</body>

</html>
