
    <div ng-controller="AuthCtrl" class="container">
		<h1>Register</h1>
        <div class="row">
            <form name="registerForm" class="css-form col-md-4" novalidate>
                <div class="form-group">
                    <label>Email: <span class="required " ng-show="registerForm.email.$error.required"></span> </label>
                    <input class="form-control" type="text" name="rEmail" ng-model="rInput.email" required>
                </div>

                <div class="form-group">
                    <label>Username: <span class="required" ng-show="registerForm.username.$error.required"></span></label>
                    <input class="form-control" type="text" name="rUsername" ng-model="rInput.username" required>
                </div>

                <div class="form-group">
                    <label>Password: <span class="required" ng-show="registerForm.password.$error.required"></span></label>
                    <input class="form-control" type="password" name="rPassword" ng-model="rInput.password" required>
                </div>

                <input class="btn btn-primary" type="button" value="Submit" ng-click="signUp()" ng-disabled="!rInput.email || !rInput.username || !rInput.password">
            </form>
        </div>
        <span>{{regMessage}}</span>
		

    </div>

