<!DOCTYPE html>
<html lang="en" ng-app="teamform-member-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>LIGHT OF WISDOM - search member page</title>
	  <link rel="shortcut icon" href="images/logo.png">
      <!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	  -->
	        
      <script src="lib/jquery.min.js"></script>      
      <script src="lib/bootstrap.min.js"></script>      
      	  
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">   
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">     
      <link rel="stylesheet" href="css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="css/main.css">


      <!-- Customized libraries shared by pages -->
      <script src="js/site.js"></script>
	  	  
   </head>
   <body>
<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="index.html">HOME</a></li>
					<li><a href="#out">SIGN OUT</a></li>
					
					
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->
   
<br>
   <br><br>
<br>
   
  

   <div class="text-center">
      <h1><p>Search Member Page</p></h1>
	  
	  <div class="jumbotron top-space parallax">	 
				<div class="container">
      <h2 id="text_event_name"></h2>
       <div id="member_page_controller" ng-controller="MemberCtrl">


         <div class="row">

            <div class="col-md-2 col-xs-2"></div>

            <div class="col-md-8 col-xs-8 ">
			

               
               <form class="form-horizontal">
                  <div class="form-group">
                     <label for="inputUserID" class="col-sm-3 control-label">User ID</label>
                     <div class="col-sm-5">
                     <input type="text" class="form-control" id="inputUserID" ng-model="userID" placeholder="Enter your User ID">
                     </div>
					 
					 <div class="col-sm-4">
					   
					  <button type="button" class="btn btn-primary" ng-click="loadFunc();" >Search</button>
					  </div>
                  </div>

                  <div class="form-group">
                     <label for="inputName" class="col-sm-3 control-label">Name</label>
                     <div class="col-sm-9">
                     <input type="text" class="form-control" id="inputUserName" ng-model="userName" placeholder="Type in your name">
                     </div>
                  </div>
				  
				  
				 



               </form>
			   
			     

               
            </div>
            <div class="col-md-2 col-xs-2"></div>
         </div>

<div class="row">
				  <p> """display member's tag"""</p>
				  </div>

       </div>
   </div>
</div>
</div>

   <!-- Angular and Angular-route libraries (v1.5.7) -->
   <script src="lib/angular.min.js"></script>
   <script src="lib/angular-route.min.js"></script>        
     
   <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
   <script src="lib/firebase.js"></script>     
   <script src="lib/angularfire.min.js"></script>



   <!-- JavaScript of this page -->
   <script src="js/search_member.js"></script>

   </body>
   <footer>
   <a href="index.html"
   <button id="btn_admin" type="button" class="btn btn-primary" >Back to the front-end</button></a>

   
   </footer>
</html>

