<!DOCTYPE html>
<html lang="en" ng-app="teamform-signup-app" ng-controller="SignupCtrl">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>AngularJS & Firebase Web App</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
 
<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>

      <!-- Angular Library -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

      <!-- Firebase -->
   <script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>

      <!-- AngularFire URL: https://github.com/firebase/angularfire -->
   <script src="https://cdn.firebase.com/libs/angularfire/2.0.0/angularfire.min.js"></script>


   <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>        

   <script src="assets/js/headroom.min.js"></script>
   <script src="assets/js/jQuery.headroom.min.js"></script>
   <script src="assets/js/template.js"></script>

   <script src="assets/js/site.js"></script>
   <script src="assets/js/signup.js"></script>
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="jumbotron" style="padding-bottom:0px;">
            <h2>AngularJS & Firebase App!</h2>
        </div>

<form class="form-signin" name="regForm" role="form">

   <div class="form-group">
    <label>User name</label>
    <input type="text" name="username" class="form-control" ng-model="user.name">

</div>

    <div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid }">
    <label>Email</label>
    <input type="email" name="email" class="form-control" ng-model="user.email">
    <p class="help-block" ng-show="regForm.email.$invalid">Enter a valid email.</p>
</div>
 
<div class="form-group" ng-class="{ 'has-error' : regForm.password.$invalid }">
    <label>Password</label>
    <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8">
    <p class="help-block" ng-show="regForm.password.$error.minlength">Min password length is 8 characters.</p>
</div>
<div >
    <label>Position</label>
    <select ng-model="user.position">
	<option value="Forward" selected>Forward</option>
	<option value="Midfield">Midfield</option>
	<option value="LeftBack">LeftBack</option>
	<option value="RightBack">RightBack</option>
	<option value="Goalkeeper">Goalkeeper</option>
	</select>
</div>




    <label class="checkbox">
        <a href="#/register"> Sign Up</a>
    </label>
    <button ng-disabled="!user.email || !user.password" type="button" ng-click="SignUp($event)" class="btn btn-lg btn-primary btn-block">SignUp</button>
</form>
 
    </div>
 
</body></html>