<!DOCTYPE html>
<html ng-app="adapp">
<head>
	<title>Travel Advertisement Board</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	<script src="js/mytryindexjs.js"></script>			

	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
 
 	<!-- Firebase -->
 	<script src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>
 
 	<!-- AngularFire URL: https://github.com/firebase/angularfire -->
 	<script src="https://cdn.firebase.com/libs/angularfire/2.0.0/angularfire.min.js"></script>


<script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAlt_yl9mLcadDyhjtT2h4Ct9DDCxjGL4M",
    authDomain: "comp3111-5fbe5.firebaseapp.com",
    databaseURL: "https://comp3111-5fbe5.firebaseio.com",
    storageBucket: "comp3111-5fbe5.appspot.com",
    messagingSenderId: "946291658553"
  };
  firebase.initializeApp(config);
</script>

</head>
<body>
	<div class="container" ng-controller="AdCtrl">
		<div class="row col-md-6 col-md-offset-4">
			<form class="form" >
				<div class="postad">
					<label>Contact person or person in charge </label>
					<input type="text" ng-model="list.name" class="form-control"/>
				</div>

				<div class="postad">
					<label>Breif description of your trip plan</label>
					<input type="text" ng-model="list.info" class="form-control"/>
				</div>

				<div class="postad">
					<input type="submit" value="Submit"  class="subbtn"    ng-click=" addData(data)">
					<input type="hidden" ng-model="list.key"/>
				</div>
			</form>	
		</div>

		<div class="col-md-12">
			<div ng-show="load" class="alert alert-info">
				<p> Trip plan ad. are loading...... Please wait...... </p>
			</div>
			<ul class="list-ad">
				<li class="list-ad-item" ng-repeat="(key,item) in bios">
					<h3 class="list-ad-heading">{{item.name}}</h1>
					<p class="list-ad-text">{{item.info}}</p>
					<button class="editbtn" ng-click="editAd(key,item)">Edit</button>
				</li>
			</ul>		
		</div>
	</div>
</body>
</html>