<!--
Team name: {{teamName}}
Team description: {{teamDescription}}
Is a private team: {{privateTeam}} (true or false)
Minimum number of team member: {{teamMin}}
Maximum number of team member: {{teamMax}}
-->

<div class="container">
    <div class="row">
        <form>
          <simple-field id="team_name" label="Team name" field-model="teamName"></simple-field>
          <textarea-field id="team_description" label="Team description" field-model="teamDescription"></textarea-field>
          <image-upload label="Choose team image"></image-upload>
          <br>
          <div>
              <input type="checkbox" class="filled-in" id="filled-in-box" ng-model="privateTeam"/>
              <label for="filled-in-box">Is a private team</label>
          </div>
          <br><br>
          <label>Minimum number of team member</label>
          <div range-spinner
            range-min="1" 
            range-step="1"  
            range-max="50" 
            range-default-value="1"
            range-decimal-precision="1"       
            range-model="teamMin"
            accept-decimal=false
            name-of-field="rangeFieldName"
            id-of-field="rangeFieldId">
          </div>
          <br><br><br><br>
          <label>Maximum number of team member</label>
          <div range-spinner
            range-min="1" 
            range-step="1"  
            range-max="50" 
            range-default-value="1"
            range-decimal-precision="1"       
            range-model="teamMax"
            accept-decimal=false
            name-of-field="rangeFieldName"
            id-of-field="rangeFieldId">
          </div>
          <br><br><br><br>
          <button class="btn waves-effect waves-light" type="submit" name="action">Create
              <i class="material-icons right">send</i>
          </button>
        </form>
    </div>
</div>