 <footer class="page-footer teal" style="margin-top: 0px">
        <div class="container center" style="padding-bottom: 20px;">

        <!-- This image is for current user -->
      
		   <a onclick="window.location.href = '#/profile';$('html, body').animate({
            scrollTop: $('body').offset().top
            },0);"><img ng-src="{{currenpic}}" height="80px" width="80px"/></a>
		            <h5 class="white-text">
            	{{ftitle}}
            </h5>

            <p class="grey-text text-lighten-4" ng-transclude>
            
            </p>
 			<board-list size=60></board-list>
        </div>
</footer>