<div class="container" ng-controller="teamleader_controll">
    <event-card eid="{{event.$id}}"></event-card>
    <!-- Event card -->
    <!-- <div class="container"> -->
    <!-- <div class="section">
            <div class="card sticky-action blue-grey lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ event.eventName }}</span>
                    <span class="new badge white-text team-badge" data-badge-caption="teams">{{ event.allTeams.length }}</span>
                    <p>Max Size:
                        {{ event.maxSize }}</p>
                    <p>Min Size:
                        {{ event.minSize }}</p>
                    <br/>
                </div>
            </div>
        </div> -->

    <!-- Team card -->
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">{{ team.teamName }}</span>
            <span class="new badge white-text team-badge" data-badge-caption="members">{{ members.length + 1 }}</span>
            <div class="section row">
                <div class="col s7" style="margin-right: 30px">
                    <div class="switch section">
                        <label class="white-text team-private-switch">
                            Public
                            <input type="checkbox" ng-model="team.isPrivate">
                            <span class="lever"></span>
                            Private
                        </label>
                    </div>
                    <p>Prefered Size:
                        {{ team.preferedSize }}</p>
                    <form action="#">
                        <p class="range-field">
                            <input type="range" id="test5" min="{{ event.minSize }}" max="{{ event.maxSize }}" ng-model="team.preferedSize"/>
                        </p>
                    </form>

                    <span class="section">Prefered Skills:
                        <div class="chip focus teal lighten-1 white-text" ng-repeat="skill in team.desiredSkills">{{ skill }}
                            <i class="close material-icons" ng-click="removeSkill(team, skill)">close</i>
                        </div>
                        <div class="input-field inline">
                            <input type="text" class="validate" ng-model="team.newSkill" required>
                            <label>+prefered skill</label>
                        </div>
                        <a class="btn-floating waves-effect waves-light" ng-click="addNewSkill(team)">
                            <i class="material-icons">add</i>
                        </a>
                    </span>
                </div>
                <!-- Skill visualization (to be replaced) -->
                <div class="col s4">
                    <p>Skill visulization</p>
                    <div class="card">
                        <team-skill team-id="{{team.$id}}"></team-skill>
                    </div>
                </div>
            </div>

            <!-- <div class="section row">
                    <div class="col s6">
                        <div class="card">
                            <div class="card-image"></div>
                            <div class="card-content grey-text text-darken-3">
                                <p>Skill Visulization 1</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="card">
                            <div class="card-image"></div>
                            <div class="card-content grey-text text-darken-3">
                                <p>Skill Visulization 2</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            <!-- Skill visualization end (to be replaced) -->
            <!-- Team leader card -->
            <span class="card-title activator">Team Leader</span>
            <div class="section">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="{{ leader.profilePic }}" style="max-height: 210px; max-width: 210px">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-3">{{ leader.name }}</span>
                            <br/>
                            <span class="team-text-span grey-text text-darken-3">Skills:
                                <div class="chip focus teal lighten-1 white-text" ng-repeat="skill in leader.skills">{{ skill }}</div>
                            </span>
                        </div>
                        <!-- <div class="card-action">
                                <a href="#">This is a link to personal profile</a>
                            </div> -->
                    </div>
                </div>
            </div>
            <!-- Team members card -->
            <span class="card-title">Team Members</span>
            <!-- <div class="section" ng-repeat="id in membersID">
                <member-card member-id="{{id.$value}}" team-id="{{team.$id}}"></member-card> -->
                <div class="section" ng-repeat="member in members">

                <div class="card horizontal">
                    <div class="card-image">
                        <img ng-src="{{ member.profilePic }}" style="max-height: 210px; max-width: 210px">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-3">{{ member.name }}
                                <i class="close material-icons right">close</i>
                            </span>
                            <br/>
                            <span class="team-text-span grey-text text-darken-3">Skills:
                                <div class="chip focus teal lighten-1 white-text" ng-repeat="skill in member.skills">{{ skill }}</div>
                            </span>
                        </div>
                    </div>
                    <div class="card-reveal transparent grey darken-3 white-text">
                        <span class="card-title white-text">Remove
                            {{ member.name }}?<i class="material-icons right">close</i>
                        </span>
                        <div class="card-action">
                            <a class="card-title cancel">Cancel</a>
                            <a ng-click="deleteMember(member)">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team members card end -->
        </div>
    </div>
    <!-- Invitiations -->
    <div class="section">
        <div class="card blue-grey darken-2">
            <div class="card-content white-text">
                <span class="card-title">Invited people</span>
                <span class="new badge white-text team-badge" data-badge-caption="invitations">{{ invitedPeople.length }}</span>
                <span class="new badge orange darken-2 white-text team-badge activator" data-badge-caption="Invite"></span>
                <!-- InvitedPeople cards -->
                <div class="section">
                    <div ng-repeat="invitedPerson in invitedPeople">
                        <div class="card horizontal">
                            <div class="card-image">
                                <img ng-src="{{ invitedPerson.profilePic }}" style="max-height: 210px; max-width: 210px">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <span class="card-title grey-text text-darken-3">{{ invitedPerson.name }}
                                        <i class="close material-icons right" ng-click="deleteInvitation(invitedPerson)">close</i>
                                    </span>
                                    <br/>
                                    <span class="team-text-span grey-text text-darken-3">Skills:
                                        <div class="chip focus teal lighten-1 white-text" ng-repeat="skill in invitedPerson.skills">{{ skill }}</div>
                                    </span>
                                </div>
                                <!-- <div class="card-action">
                                        <a href="#">This is a link to personal profile</a>
                                    </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- InvitedPeople cards end -->
                <br/>
            </div>
            <!-- Invite -->
            <div class="card-reveal blue-grey darken-2 white-text">
                <span class="card-title white-text">Invite<i class="material-icons right">close</i>
                </span>
                <span class="section">To:
                    <div class="chip focus teal lighten-1 white-text" ng-repeat="skill in invite.desiredSkills">{{ skill }}
                        <i class="close material-icons" ng-click="removeSkill(invite, skill)">close</i>
                    </div>
                    <div class="input-field inline">
                        <input type="text" class="validate" ng-model="invite.newSkill" required>
                        <label>Email</label>
                    </div>
                    <a class="btn-floating waves-effect waves-light" ng-click="addNewSkill(invite)">
                        <i class="material-icons">add</i>
                    </a>
                </span>
                <div class="card-action">
                    <a class="card-title cancel" ng-click="sendInvitation()">Send invitation</a>
                </div>
            </div>
            <!-- Invite end -->
        </div>
    </div>
    <!-- Invitiations end -->

    <!-- Requests list -->
    <div class="card blue-grey darken-4">
        <div class="card-content white-text">
            <span class="card-title">Requests</span>
            <span class="new badge white-text team-badge" data-badge-caption="requests">{{ applicants.length }}</span>
            <span class="new badge orange darken-2 white-text team-badge {{activator}}" data-badge-caption="Smart pick" ng-click="checkApplicants()"></span>
            <!-- Applicant cards -->
            <div class="section">
                <div ng-repeat="applicant in applicants">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img ng-src="{{ applicant.profilePic }}" style="max-height: 210px; max-width: 210px">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-3">{{ applicant.name }}
                                    <i class="close material-icons right" ng-click="deleteApplicant(applicant)">close</i>
                                    <i class="close material-icons right" ng-click="addApplicant(applicant)">add</i>
                                </span>
                                <br/>
                                <span class="team-text-span grey-text text-darken-3">Skills:
                                    <div class="chip focus teal lighten-1 white-text" ng-repeat="skill in applicant.skills">{{ skill }}</div>
                                </span>
                            </div>
                            <!-- <div class="card-action">
                                    <a href="#">This is a link to personal profile</a>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Applicant cards end -->
            <br/>
        </div>
        <!-- Smart pick -->
        <div class="card-reveal blue-grey darken-4 white-text">
            <span class="card-title white-text">Smart pick<i class="material-icons right">close</i>
            </span>
            <p>Add members to size:
                {{ smartPick.preferedSize }}</p>
            <form action="#">
                <p class="range-field">
                    <input type="range" id="test5" min="{{ members.length }}" max="{{ event.maxSize }}" ng-model="smartPick.preferedSize"/>
                </p>
            </form>
            <span class="section">Required Skills:
                <div class="chip focus teal lighten-1 white-text" ng-repeat="skill in smartPick.desiredSkills">{{ skill }}
                    <i class="close material-icons" ng-click="removeSkill(smartPick, skill)">close</i>
                </div>
                <div class="input-field inline">
                    <input type="text" class="validate" ng-model="smartPick.newSkill" required>
                    <label>+required skill</label>
                </div>
                <a class="btn-floating waves-effect waves-light" ng-click="addNewSkill(smartPick)">
                    <i class="material-icons">add</i>
                </a>
            </span>
            <div class="card-action">
                <a class="card-title cancel" ng-click="smartAdd()">Smart add</a>
            </div>
        </div>
        <!-- Smart pick end -->
    </div>
    <!-- Requests end -->
    <!-- </div> -->
</div>
