h5{
	font-size: 30px;
	margin-left: 15px;
	font-weight: 300;
	color: #FFF;
	line-height: 30px;
}


.modal-content{
	background: rgba(0, 0, 0, 0.8);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.close {
    color: #fff; 
    opacity: 1;
}


.modal-header{
	padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	background: rgba(0, 0, 0, 0.6);
}

.modal-body{
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
}