/* Important part */
.profile .modal-dialog{
    overflow-y: initial !important
}
.profile .modal-body{
    max-height: 700px;
    overflow-y: auto;
}

.skill .modal-dialog{
    overflow-y: initial !important
}
.skill .modal-body{
    max-height: 400px;
    overflow-y: auto;
}