<div class="panel panel-info box-shadow-bottom-only flex-container">
    Hi!!
    {{data.userName}}
    <div class="flex-row-label">Username:</div><div class="flex-row-content">{{data.userName}}</div>
    <div class="flex-row-label">User ID:</div><div class="flex-row-content">{{data.userID}}</div>
    <div class="flex-row-label">Title:</div><div class="flex-row-content">{{data.title}}</div>
    <div class="flex-row-label">Number of Invitations:</div><div class="flex-row-content">{{data.invitations.length}}</div>

    <div>Skill set:</div>
    <!--TODO: Add skill set values here-->
</div>