<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">

                <div class="text-center">
                    <h1>Teamform - Comp3111</h1>
                    <p>A real-time online team forming app for any event</p>
                </div>

                <br>

                <div class="text-center">

                    <input id="input_text" type="text" class="input-lg">
                    <br>
                    <em>Enter a name (e.g. COMP3111-L1, COMP3111-L2 or COMP3111H) to create/join an event</em>
                    <br>
                    <br>

                    <div>

                        <button id="btn_admin" type="button" class="btn btn-primary">Administrator</button>



                        <button id="btn_leader" type="button" class="btn btn-primary">Team Leader</button>

                        <button id="btn_member" type="button" class="btn btn-primary">Member</button>



                    </div>
                </div>
                <br>




                <br>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row featurette" id="page_about">
    <div class="col-md-12">
        <h2 class="featurette-heading">What is teamform?
            <br>
            <span class="text-muted">A real-time online team forming app!</span>
         </h2>
        <p class="lead"> The following roles and their capabilities are supported in teamform:
        </p>

        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">Administrator</h3>
                <ul>
                    <li>Be responsible for creating an event for team forming (e.g. COMP3111, COMP3111H, hackUST)</li>
                    <li>Be able to set the minimum and maximum team size for the event (e.g. 5..7 team members in COMP3111 and 5..8 team members in COMP3111H)</li>
               	    <li>Be able to merge teams of smaller sizes(smaller than minimum size)</li>
		 </ul>
            </div>

            <div class="col-md-4">
                <h3 class="text-center">Team</h3>
                <ul>
                    <li>Be able to accept and remove requests made by members</li>
                    <li>Once a member joins the team, all his/her requests will be deleted</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3 class="text-center">Member</h3>
                <ul>
                    <li>Be able to request to join multiple teams</li>
                </ul>
            </div>
        </div>

    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette" id="page_team">
    <div class="col-md-12">
        <h2 class="featurette-heading">Development Team
            <br>
            <span class="text-muted">[Your Team Name]</span>
         </h2>


        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail text-center">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=member1&w=150&h=150" class="img-circle img-responsive">
                    <div class="caption">
                        <h4>[Your name]</h4>
                        <p>[ITSC email]</p>

                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-3">
                <div class="thumbnail text-center">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=member2&w=150&h=150" class="img-circle img-responsive">
                    <div class="caption">
                        <h4>[Your name]</h4>
                        <p>[ITSC email]</p>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
