<div id="login-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="login-box">
                    <div id="login-box-holder">
                        <div class="row">
                            <div class="col-xs-12">
                                <header id="login-header">
                                    <div id="login-logo">
                                        Teamform
                                    </div>
                                </header>
                                <div id="login-box-inner">
                                    <form role="form" ng-submit="register.register()">
                                        <ui-alert message="{{register.error.message}}" />
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="email" class="form-control" placeholder="Email address" ng-model="register.credential.email">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                            <input type="password" class="form-control" placeholder="Password" ng-model="register.credential.password">
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <a ui-sref="password_reset">
    													Forgot password?
												    </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <button type="submit" class="btn btn-success col-xs-12">Register</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
