.filter-tag{
  margin-right:10px;
}
.filter-bar{
  padding:5px 10px 5px 5px;
}
.team-list{
	margin-top:20px;
	
	margin-right:20px;		
	box-shadow: 10px 10px 5px silver;
}
/*
select:hover{
	background-color:lightgrey;
}
*/