 <!--this a notification-->
     

          <h1 class="page-header">Notification</h1>

          <div class="row placeholders">
            <div class="container">
              <div class="row" ng-app="myapp", ng-controller="NotificationController">
               
               <div class="col-md-10" ng-repeat="user in userList">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 align="left"><i class="fa fa-fw fa-check"></i>From:{{user.Name}}</h4>
                    </div>
                    <div class="panel-body">
                    <div class="col-sm-1 col-md-1">
                    <img src="favicon.ico" alt="" class="img-circle">
                    </div>
                        <p align="left">{{user.Info}}</p>
                        <div align="right">
                        <button type="button" class="btn btn-sm btn-success" ng-if="whetherfromteam($index)"><a ng-href="#/MyConversation/{{user.Name}}">Reply</a></button>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="removeuser($index)">Delete</button></div>
                    </div>
                    </div>
                    </div>


                     <!-- <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 align="left"><i class="fa fa-fw fa-check"></i> From: Andy Wang</h4>
                    </div>
                    <div class="panel-body">
                    <div class="col-sm-1 col-md-1">
                    <img src="favicon.ico" alt="" class="img-circle">
                    </div>
                        <p align="left">He has sent you a message</p>
                        <div align="right">
                        <button type="button" class="btn btn-sm btn-success">Reply</button></div>
                    </div>
                    </div>
                    </div>


                    <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 align="left"><i class="fa fa-fw fa-check"></i> From: YourTeam</h4>
                    </div>
                    <div class="panel-body">
                    <div class="col-sm-1 col-md-1">
                    <img src="favicon.ico" alt="" class="img-circle">
                    </div>
                        <p align="left">Andy has left</p>
                      
                    </div>
                    </div>
                    </div> -->

                    
              
              </div>
          </div>
        </div>




