 <!--this a notification-->


          <h1 class="page-header">Notification</h1>

          <div class="row placeholders">
            <div class="container">
              <div class="row" ng-app="mainApp" ng-controller="NotificationController">

               <div class="col-md-10">
                <div class="panel panel-default"  ng-repeat="noti in notification">
                    <div class="panel-heading">
                        <h4 align="left"><i class="fa fa-fw fa-check"></i>From: {{noti.name}}</h4>
                    </div>
                    <div class="panel-body">
                    <div class="col-sm-1 col-md-1">
                    <img ng-src="{{photolist[noti.name]}}" alt="" align="left" width="50" height="50">
                    </div>
                        <p align="left">{{noti.message}}</p>
                        <div align="right">
                        <a ng-href="#/MyConversation/{{noti.event}}/{{noti.name}}"><button type="button" class="btn btn-sm btn-success">Reply</button></a>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="deletenotification(noti.name)">Delete</button></div>
                    </div>
                    </div>
                    </div>


                     <!-- <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 align="left"><i class="fa fa-fw fa-check"></i> From: Andy Wang</h4>
                    </div>
                    <div class="panel-body">
                    <div class="col-sm-1 col-md-1">
                    <img src="favicon.ico" alt="" class="img-circle">
                    </div>
                        <p align="left">He has sent you a message</p>
                        <div align="right">
                        <button type="button" class="btn btn-sm btn-success">Reply</button></div>
                    </div>
                    </div>
                    </div>


                    <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 align="left"><i class="fa fa-fw fa-check"></i> From: YourTeam</h4>
                    </div>
                    <div class="panel-body">
                    <div class="col-sm-1 col-md-1">
                    <img src="favicon.ico" alt="" class="img-circle">
                    </div>
                        <p align="left">Andy has left</p>

                    </div>
                    </div>
                    </div> -->



              </div>
          </div>
        </div>
