<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head >

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBm3v0FwEKneu9IBdj5vRh9Zn_iajH0xjk",
    authDomain: "tast-dc842.firebaseapp.com",
    databaseURL: "https://tast-dc842.firebaseio.com",
    storageBucket: "tast-dc842.appspot.com",
    messagingSenderId: "431016183416"
  };
  firebase.initializeApp(config);
</script>

<script src="..\Tasting\lib\Login.js"></script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login &amp; Register</title>

<!-- CSS -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/form-elements.css">
<link rel="stylesheet" href="assets/css/style.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="assets/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

    <!-- Top content -->
    <div class="top-content">
    	
        <div class="inner-bg">
            <div class="container">
            	
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>Login &amp; Register Forms</h1>
                        <div class="description">
                        	<p>
                            	This is a real-time online team forming app for comp3111 create by <strong>Team Noname</strong>
                        	</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-5">
                    	
                    	<div class="form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Login to our site</h3>
									<br/>
									<div>
										<ul class="nav nav-pills nav-justified">
											<li class="active"><a href="#student">Student</a></li>
											<li><a href="#admin">Admin</a></li>
										</ul>
									</div>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>	
							<div class="tab-content">
								<div id="student" class="tab-pane fade in active" ng-controller="LoginCtrl">
									<div class="form-bottom">
										<p style="color:white;">Enter username and password to log on:</p>
										<form role="form" action="" method="post" class="login-form">
											<div class="form-group">
												<table>
													<th style="width:70%">
														<label class="sr-only" for="form-username">Username</label>
														<input type="text" name="form-username" placeholder="Email Address..." class="form-username form-control" id="form-username" ng-model="input.email">
													</th>
													<th align="right" style="color:white;font-weight:normal;">&nbsp;&nbsp;@connect.ust.hk
													</th>
												</table>
											</div>
											<div class="form-group">
												<label class="sr-only" for="form-password">Password</label>
												<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password" ng-model="input.password">
											</div>
											<button type="submit" class="btn" ng-click="loginUser()" >Sign in!</button>
										</form>
									</div>
								</div>
								<div id="admin" class="tab-pane fade">
									<div class="form-bottom">
										<p style="color:white;">Enter username and password to log on:</p>
										<form role="form" action="" method="post" class="login-form">
											<div class="form-group">
												<table>
													<th style="width:90%">
														<label class="sr-only" for="form-username">Email Address</label>
														<input type="text" name="form-username" placeholder="Email Address..." class="form-username form-control" id="form-username">
													</th>
													<th align="right" style="color:white;font-weight:normal;">&nbsp;&nbsp;@ust.hk
													</th>
												</table>
											</div>
											<div class="form-group">
												<label class="sr-only" for="form-password">Password</label>
												<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
											</div>
											<button type="submit" class="btn">Sign in!</button>
										</form>
									</div>
								</div>
		                    </div>
	                    </div>
                        
                    </div>
                    
                    <div class="col-sm-1 middle-border"></div>
                    <div class="col-sm-1"></div>
                    	
                    <div class="col-sm-5" ng-controller="LoginCtrl">
                    	
                    	<div class="form-box">
                    		<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Sign up now</h3>
                            		<p>Fill in the form below to get instant access:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" method="post" class="registration-form" ng-submit="createUser()">
									<div class="form-group">
			                    		<table>
											<th style="width:45%">
												<label class="sr-only" for="form-firstname">Firstname</label>
												<input type="text" name="form-firstname" placeholder="First Name..." class="form-firstname form-control" id="form-firstname">
											</th>
											<th style="width:5%"> </th>
											<th style="width:45%">
												<label class="sr-only" for="form-lastname">Lastname</label>
												<input type="text" name="form-lastname" placeholder="Last Name..." class="form-lastname form-control" id="form-lastname">
											</th>
										</table>
			                        </div>
			                    	<div class="form-group">
			                    		<table>
											<th style="width:70%">
												<label class="sr-only" for="form-username">Username</label>
												<input type="text" name="form-username" placeholder="Email Address..." class="form-username form-control" id="form-username" ng-model="signInput.email">
											</th>
											<th align="right" style="color:white;font-weight:normal;">&nbsp;&nbsp;@connect.ust.hk
											</th>
										</table>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password" ng-model="signInput.password">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-email">Confirm Password</label>
			                        	<input type="password" name="form-password2" placeholder="Retype Password..." class="form-password2 form-control" id="form-password2">
			                        </div>
			                       
			                        <button type="submit" class="btn">Sign me up!</button>
			                    </form>
		                    </div>
                    	</div>
                    	
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

    <!-- Footer -->
    <footer>
    	<div class="container">
    		<div class="row">
    			
    			<div class="col-sm-8 col-sm-offset-2">
    				<div class="footer-border"></div>
    				<p>Made by Team Noname</p>
    			</div>
    			
    		</div>
    	</div>
    </footer>

    <!-- Javascript -->
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.backstretch.min.js"></script>
    <script src="assets/js/scripts.js"></script>
	
	<script>
	$(document).ready(function(){
		$(".nav-pills a").click(function(){
			$(this).tab('show');
		});
	});
	
	</script>
	
    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->

</body>

</html>