<!--
<!DOCTYPE html>
<html lang="en" ng-app="teamapp">
<head>
	<meta charset="UTF-8">
	<title>Admin Page</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../lib/materialize/css/materialize.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="css/style.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="../lib/angular.min.js"></script>
	<script src="admin.js"></script>
</head>
<body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../lib/materialize/js/materialize.min.js"></script>
  <script src="adminAnimate.js"></script>
-->
  <div>
    <div class="container">
    	<!-- Admin Page Title -->
    	<div class="section admin-title" ng-controller="admin_title_ctrl">
    		<div class="grey lighten-4">
    			<h1>{{ event.name }}</h1>
    			<h5>Administrator: <span ng-repeat="admin in event.admins">{{ admin }} </span></h5>
    		</div>
    	</div>
    	<!-- Admin Page Title Ends -->
    	<div class="divider"></div>
    	<!-- Description & Tutorial -->
    	  <ul class="collapsible popout" data-collapsible="accordion" watch>
    	    <li class="active">
			      <div class="collapsible-header active"><i class="material-icons">description</i>Introduction</div>
			      <div class="collapsible-body" style="display: block;"><p>As an administrator, you can easily manipulate teams and participants in this admin page. To learn more details, Please click on the titles of collapsible items.</p></div>
			    </li>
    	    <li>
			      <div class="collapsible-header"><i class="material-icons">comment</i>Check Team or Member Information</div>
			      <div class="collapsible-body"><p>As an administrator, you can check the information of a group or member by...</p></div>
			    </li>
    			<li>
      			<div class="collapsible-header"><i class="material-icons">library_add</i>Add Member to A Group</div>
      			<div class="collapsible-body"><p>Administrator can add a member to a group by...</p></div>
    			</li>
    			<li>
      			<div class="collapsible-header"><i class="material-icons">import_export</i>Merge Teams</div>
			      <div class="collapsible-body"><p>To merge two teams, ...</p></div>
    			</li>
			  </ul>
    	<!-- Description & Tutorial Ends -->
    	<div class="divider"></div>
    	<div class="row admin-lists">
    	<!-- Teams List -->

    		<div class="col s12 m6" ng-controller="admin_team_ctrl">

    			<h2>Formed Teams</h2>
    			<div class="divider"></div>

    			<!-- A Single Card -->
          <div class="card admin-team-card sticky-action blue-grey darken-1" ng-repeat="team in teams">
            <div class="card-content white-text">
              <span class="card-title activator">{{ team.name }}<i class="material-icons right">more_vert</i></span>
              <br/>
              <div class="admin-card-text">
                <span class="admin-card-subtitle grey-text text-lighten-2">Team Size:</span>
                <span class="new badge white-text admin-skill-badge teal darken-1" data-badge-caption="members">{{ team.size }}</span>
              </div>
              <div class="admin-card-text">
                <span class="admin-card-subtitle grey-text text-lighten-2">Preferred Size:</span>
                <span class="new badge white-text admin-skill-badge teal darken-1" data-badge-caption="members">{{ team.maxSize }}</span>
              </div>
              <div class="admin-card-text">
                <span class="admin-card-subtitle grey-text text-lighten-2">Required Skills:</span>
                <span class="new badge white-text admin-skill-badge" data-badge-caption="" ng-repeat="skill in team.skills">{{ skill }}</span>
              </div>
            </div>
            <div class="card-action">
              <button class="btn-flat orange-text admin-team-btn team-delete" ng-click="remove(team)">Delete</button>
              <button class="btn-flat orange-text admin-team-btn">Merge</button>
            </div>

            <div class="card-reveal blue-grey darken-1 white-text">
            	<span class="card-title">Team Name<i class="material-icons right">close</i></span>
            	<p>Team Members: <span ng-repeat="member in team.members">{{ member }} </span></p>
            	<p>Other infomation about this team.</p>
            </div>
          </div>
          <!-- A Single Card Ends -->

    		</div>
    	<!-- Team List Ends -->

    	<!-- Participant List -->
    		<div class="col s12 m6" ng-controller="admin_member_ctrl">

    			<h2>Waiting Participants</h2>
    			<div class="divider"></div>

    			<!-- A Single Card -->

          <!-- Changing Toolkit to enable html -->
          <script type="text/javascript">
              $(document).ready(function(){
                $('.tooltipped').tooltip({html: true});
              });
          </script>
          <!-- Finish enabling Toolkit html -->
    				<div class="card admin-user-card sticky-action" ng-repeat="user in users">
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">{{ user.name }}<i class="material-icons right">more_vert</i></span>
								<div>
									<div class="chip admin-card-chip" ng-repeat="skill in user.skills">{{ skill }}</div>
								</div>
          			<p>{{ user.intro }}</p>
        			</div>
       				<div class="card-action">
         				<a class="white blue-grey-text text-darken-2 btn waves-effect waves-orange admin-card-btn tooltipped" data-tooltip="Current size: 5<br>Preferred size: 6-7<br>Required skills: JavaScript" ng-repeat="request in user.requests">{{ request }}</a>
                <a class="btn waves-effect waves-teal admin-card-btn">Other</a>
         				<!--
                <div class="divider admin-incard-divider"></div>
                
         				<div class="row">
         					<div class="input-field col s8">
          					<input id="team_name" type="text" class="validate">
          					<label for="team_name">Name of Another Team</label>
        					</div>
        					<button class="btn waves-effect waves-teal admin-card-btn admin-add-btn">Add</button>
        				</div>
                -->
       				</div>
       				<div class="card-reveal">
       					<div class="col s3 admin-profile-photo">
       					<!-- This image should be replaced by profile photo afterwards -->
       						<img src="http://lorempixel.com/100/190/nature/6">
       					</div>

       					<div class="col s9">
       						<span class="card-title grey-text text-darken-4">Username<i class="material-icons right">close</i></span>
       						<p>Detailed profile infomation will be displayed here.</p>
       					</div>
       				</div>
    				</div>
  			<!-- A Single Card Ends -->

    		</div>
    	<!-- Participant List Ends -->
    	</div>
    </div>
    <event-footer></event-footer>
  </div>
<!--    
</body>
</html>
-->
