<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>


<div ng-controller="homeController">

  <!-- LoginBox -->
  <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
    <!-- ng-click="changeVisible(event)" -->
    <div class="cd-user-modal-container" style="-webkit-transform: translateY(60%);"> <!-- this is the container wrapper -->
      <!-- <ul class="cd-switcher" ng-click="switcher(event)"> -->
      <ul class="cd-switcher" style="background-color: lightgrey">
        <!-- <ul class="cd-switcher"> -->
        <li><a style="font-weight: bold; font-family: Roboto-Bold; font-size: 23px">OAuth Login</a></li>
        <!-- <li><a>Login with Email</a></li> -->
        <!-- <li><a onclick="JavaScript: event.preventDefault(); logoutHelper();">Logout</a></li> -->
      </ul>

      <div id="cd-login"> <!-- log in form -->

        <form class="cd-form">
          <!-- <p class="fieldset">
            <label class="image-replace cd-email" for="signin-email">E-mail</label>
            <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
            <span class="cd-error-message">Error message here!</span>
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="signin-password">Password</label>
            <input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Password">
            <a href="#0" class="hide-password">Hide</a>
            <span class="cd-error-message">Error message here!</span>
          </p> -->

          <!-- <p class="fieldset">
            <input type="checkbox" id="remember-me" checked>
            <label for="remember-me">Remember me</label>
          </p> -->
<!--
          <p class="fieldset">
            <input class="full-width" type="submit" value="Login">
          </p> -->
          <!-- <p class="fieldset">
            <input class="full-width" type="button" value="Login">
          </p>  -->
          <!-- <a class="btn btn-block btn-social btn-google" ng-click="login('google')" > -->
          <i class="btn btn-block z-depth-4 fa fa-google-plus" aria-hidden="true" ng-click="login('google')" style="font-weight: bold;background-color: #DD4B39; border-radius: 0.3em;">&nbsp;&nbsp;Sign in with Google
          </i>
          <br>
          <i class="btn btn-block z-depth-4 fa fa-facebook" aria-hidden="true" ng-click="login('facebook')" style="font-weight: bold;background-color: #3B5998; border-radius: 0.3em;">
            &nbsp;Sign in with Facebook
          </i>
        </form>

      </div> <!-- /cd-login -->

      <a class="cd-close-form" href="#0" onclick="javascript: event.preventDefault(); $('.cd-user-modal').removeClass('is-visible');">Close</a>
    </div>
  </div>
  <!-- /LoginBox -->


  <!-- Homebackground -->

  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn-large waves-effect loginB" ng-click="login_selected()">Login / Register</a>
    </div>
    <div class="carousel-item red white-text" href="#one!" style="height: 800px; background-image: url(./Fenghaoan/images/home_background.jpg);">
      <h1>Online Teamform Application</h1>
      <h5 style="font-family: serif; font-style: italic;" class="white-text">Welcome to use our team-formation platform. The best platform you and your team ever met.</h5>
    </div>
    <div id="background1" class="carousel-item amber white-text" href="#two!" style="background-image: url(./Fenghaoan/images/home_background2.jpg)">
      <h1>Online Teamform Application</h1>
      <h5 style="font-family: serif; font-style: italic;" class="white-text">Welcome to use our team-formation platform. The best platform you and your team ever met.</h5>
    </div>
</div>

<!-- /Homebackground -->
<br><br>
<p style="text-align: center; font-family: serif; font-weight: bold; font-size: 25px; color: teal">Platform Usage Video</p>
<hr class="style-eight" style="border-color: teal; ">
<!-- TutorialVideo  -->
<!-- May be next time try the grid system -->
<!-- <div id="tutorialVideo" style=" margin: auto; width: 50%;"> -->
<div class="row">
  <div class="col s12 l10 offset-l1">
    <p class="videoText" style="text-align: center; font-family: serif;">This is the tutorial video with eye-catching features enphasized below.</p>
  </div>
  <div class="col s12 l6 offset-l3 ">

    <iframe class="videoframe" style=" margin: auto; padding: 10px; width: 100%; height: auto; " src="https://www.youtube.com/embed/0r6C3z3TEKw" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<!-- </div> -->
<!-- /TutorialVideo -->

<!-- Features -->
<feature-card ng-repeat="feature in features"></feature-card>
<!-- /Features -->
<br><br>
<p style="text-align: center; font-family: serif; font-weight: bold; font-size: 25px; color: teal">Developer Info</p>
<hr class="style-eight" style="border-color: teal; ">

<!-- DeveloperInfo -->
<developer-card ng-repeat="developer in developers"></developer-card>
<!-- /DeveloperInfo -->

</div>

<!-- Footer -->
<footer-panel>Welcome to the best online-teamform-platform in this galaxy ! Congratulations !</footer-panel>
<!-- /Footer -->

</div>
