<div ng-controller="dashboardController">
<div class="container" style="padding-top: 20px">
    <button class="btn waves-effect waves-light" ng-click="facebookLogin()">Login
        <i class="material-icons right">send</i>
    </button>
    <div class="row" id="infoDisplay">
        <div class="col m6 s6">
            <img src="{{currentUser.profilePic}}" style="height: 300px; width: 300px">
        </div>
        <div class="col m6 s6">
            <h2>Username: {{currentUser.name}}</h2>

            <h4>My ID (email): {{currentUser.email}}</h4>
            <p>{{currentUser}}</p>

        </div>
    </div>
    <div class="divider"></div>

    <div class="row" id="skillManager">
        <h4>Manage my Skills:</h4>
        <form ng-submit="receiveNewSikll()">
            <div class="input-field col s6">
                <input id="newSkill" type="text" class="validate" ng-model="newSkill" required>
                <label for="newSkill">Add a skill</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Skill
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

    <div class="row">
        <div class="col m3" ng-repeat="skill in skillsList">
            <a class="waves-effect waves-light btn col" class="col m4" ><i class="material-icons left" ng-click="skillsList.$remove(skill)">delete</i>{{skill.$value}}</a>
        </div>

    </div>
    <div class="divider"></div>



    <!-- NOTIFICATION CENTER -->
    <div class="row">
        <h3>Notification Center</h3>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#unreadNotifs">Unread</a></li>
                    <li class="tab col s3"><a href="#allNotifs">All</a></li>
                </ul>
            </div>
            <div id="unreadNotifs">
                <h5>My unread notifications:</h5>
            </div>
            <div id="allNotifs">
                <h5>All of my notifications:</h5>
                <div ng-repeat="noti in notifsDisplay track by $index">
                    <p>{{noti}}<a class="waves-effect waves-light btn" ng-show="isInvitation[$index]">Accept</a> <a class="waves-effect waves-light btn" ng-show="isInvitation[$index]">Turn down</a></p>

                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>



    <!-- MANAGEMENT TABS -->
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#eventsAsAdmin">Admin</a></li>
                <li class="tab col s3"><a class="active" href="#teamsAsLeader">Leader</a></li>
                <li class="tab col s3"><a href="#teamsAsMember">Member</a></li>
                <li class="tab col s3"><a href="#teamsApplying">Applying</a></li>
            </ul>
        </div>
        <div id="eventsAsAdmin">
            <h4>Events administrating by me</h4>
            <div ng-repeat="event in currentUser.eventsManaging">{{event}}</div>
        </div>
        <div id="teamsAsLeader">
            <h4>I am team leader</h4>
            <div ng-repeat="team in leadingList">{{team.$value}}</div>
        </div>
        <div id="teamsAsMember">
            <h4>I am a member in these teams</h4>
            <div ng-repeat="team in memberList">{{team.$value}}</div>
        </div>
        <div id="teamsApplying">
            <h4>I have pending applications to these teams:</h4>
            <div ng-repeat="pendingTeam in applyingList">{{pendingTeam.$value}}</div>
        </div>
    </div>



</div>
</div>
