<h1>Event Edit</h1>
<div class="main-box">
    <div class="main-box-header clearfix">
        <h2>{{eventEdit.event.data.name}}</h2>
    </div>
    <div class="main-box-body clearfix">
        <form class="form-horizontal" ng-if="eventEdit.event">
            <ui-alert message="{{eventEdit.error.message}}" />
            <div class="form-group">
                <label class="col-sm-2 control-label">Event ID</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{eventEdit.event.$id}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputImage" class="col-sm-2 control-label">Event Image</label>
                <div class="col-sm-10">
                    <div class="well well-lg" ngf-select="eventEdit.upload($file)" ngf-drop="eventEdit.upload($file)" ng-model="eventEdit.image" ngf-pattern=".jpg,.jpeg,.png" ngf-accept="'image/*'" ngf-capture="'camera'" ngf-drag-over-class="{pattern: 'image/*', accept:eventEdit.fileUploadStyle['drop-success'], reject:eventEdit.fileUploadStyle['drop-danger'], delay:100}"
                        ngf-drop-available="dropAvailable" ngf-resize="{width: 200, height: 200, centerCrop: true}">
                        <div ng-if="!eventEdit.event.data.imageUrl">
                            <p>Select File <span ng-show="dropAvailable"> or Drop File</span></p>
                        </div>
                        <img ng-if="eventEdit.event.data.imageUrl != null" ngf-src="eventEdit.event.data.imageUrl" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Event Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="eventEdit.event.data.name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription" class="col-sm-2 control-label">Event Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="inputDescription" placeholder="Description" ng-model="eventEdit.event.data.description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEventStartDate" class="col-sm-2 control-label">Event Start Date</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputEventStartDate" datetime-picker="dd MMM yyyy HH:mm" datepicker-options="eventEdit.eventStartDatepickerOptions" ng-click="eventEdit.toggleEventStartDatePopup()" ng-model="eventEdit.input.eventStartDate"
                            is-open="eventEdit.eventStartDatePopupOpened" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="eventEdit.toggleEventStartDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEventEndDate" class="col-sm-2 control-label">Event End Date</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputEventEndDate" datetime-picker="dd MMM yyyy HH:mm" datepicker-options="eventEdit.eventEndDatepickerOptions" ng-click="eventEdit.toggleEventEndDatePopup()" ng-model="eventEdit.input.eventEndDate" is-open="eventEdit.eventEndDatePopupOpened"
                            ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="eventEdit.toggleEventEndDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEventDeadline" class="col-sm-2 control-label">Application Deadline</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputEventDeadline" datetime-picker="dd MMM yyyy HH:mm" datepicker-options="eventEdit.eventDeadlinepickerOptions" ng-click="eventEdit.toggleEventDeadlinePopup()" ng-model="eventEdit.input.eventDeadline" is-open="eventEdit.eventDeadlinePopupOpened"
                            ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="eventEdit.toggleEventDeadlinePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 control-label">Team Size</label>
                <div class="col-xs-6 col-sm-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="eventEdit.setTeamMin(eventEdit.event.data.teamMin-1)"><span class="glyphicon glyphicon-minus"></span></button>
                        </span>
                        <input type="text" class="form-control" ng-model="eventEdit.event.data.teamMin">
                        <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="eventEdit.setTeamMin(eventEdit.event.data.teamMin+1)"><span class="glyphicon glyphicon-plus"></span></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="eventEdit.setTeamMax(eventEdit.event.data.teamMax-1)"><span class="glyphicon glyphicon-minus"></span></button>
                        </span>
                        <input type="text" class="form-control" ng-model="eventEdit.event.data.teamMax">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="eventEdit.setTeamMax(eventEdit.event.data.teamMax+1)"><span class="glyphicon glyphicon-plus"></span></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputYes" class="col-sm-2 control-label">Delete Event</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputYes" placeholder="Please type in 'YES' to confirm." ng-model="eventEdit.deleteConfirm">
                    <span class="help-block">Once you delete a event, there is no going back. Please be certain.</span>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-danger" type="button" ng-click="eventEdit.delete()"><span class="fa fa-trash"></span></button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-block btn-primary" ng-click="eventEdit.edit()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
