@import './bootstrap.global';
.drop {
    composes: well well-lg;
}
.drop-success {
    composes: drop;
    background-color: $brand-success;
}
.drop-danger {
    composes: drop;
    background-color: $brand-danger;
}
