@import './bootstrap.global';
@import './message.scss';
@import './fileUpload.scss';
.panel-footer .pagination {
    margin: 0;
}
.row {

}
.skill {
    composes: label label-success;
    margin: 5px;
}
body {
    background-color: #F1F1F2;
    font-family: 'Open Sans' !important;
}
