.search-input {
    background: #e8e6e7 none repeat scroll 0 0;
    margin: 0;
    padding: 10px;
}

.search-query {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 4px;
    height: 33px;
    margin-bottom: 0;
    padding-left: 7px;
    padding-right: 7px;
}

.search-input button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #666666;
    left: auto;
    margin-bottom: 0;
    margin-top: 7px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    z-index: 9999;
}

.search-query:focus + button {
    z-index: 3;
}

.member-list .chat-body {
    margin-left: 47px;
    margin-top: 0;
}

.top_nav {
    overflow: visible;
}

.member-list .contact_sec {
    margin-top: 3px;
}

.member-list li {
    padding: 6px;
}

.member-list ul {
    border: 1px solid #dddddd;
}

.chat-img img {
    height: 34px;
    width: 34px;
}

.member-list li {
    border-bottom: 1px solid #dddddd;
    padding: 6px;
}

.member-list li:last-child {
    border-bottom: none;
}

.member-list {
    height: 380px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sub-menu {
    background: #e8e6e7 none repeat scroll 0 0;
    left: 100%;
    max-width: 233px;
    position: absolute;
    width: 100%;
}

.sub-menu {
    background: #f5f3f3 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
    left: 100%;
    margin-left: 0;
    max-width: 233px;
    position: absolute;
    top: 0;
    width: 100%;
}

.all-conversation ul li:hover .sub-menu {
    display: block;
}

.new_message_head button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}

.new_message_head {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    font-size: 13px;
    font-weight: 600;
    padding: 18px 10px;
    width: 100%;
}

.message_section {
    border: 1px solid #dddddd;
}

.chat_area {
    float: left;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.chat_area li {
    padding: 14px 14px 0;
}

.chat_area li .chat-img1 img {
    height: 40px;
    width: 40px;
}

.chat_area .chat-body1 {
    margin-left: 50px;
}

.chat-body1 p {
    background: #fbf9fa none repeat scroll 0 0;
    padding: 10px;
}

.chat_area .sender-chat .chat-body1 {
    margin-left: 0;
    margin-right: 50px;
}

.chat_area li:last-child {
    padding-bottom: 10px;
}

.message_write {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
}

.message_write textarea.form-control {
    height: 70px;
    padding: 10px;
}

.chat_bottom {
    float: left;
    margin-top: 13px;
    width: 100%;
}

.sub-menu > li,
.sub-menu > li a {
    float: left;
    width: 100%;
}

.member-list li:hover {
    background: #428bca none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
}

.panel-message {
    padding-top: 0;
    padding-bottom: 0;
}
