<div class="container">
<div class="col-md-12">
	<!--###############Head###############-->
	
	<div class="jumbotron">
		<h2><i class="icon-info-sign"></i>&nbsp;&nbsp;About</h2>	
		<p>This is the about page.</p>
	</div> <!--jumbotron-->
	
	<!--###############Development Team###############-->
	
	<div class="col-md-12">
		<div class="thumbnail">
		  <div class="caption">
		  	<!--###Title###-->
		    <h4><i class="icon-lightbulb"></i>&nbsp;&nbsp;Development Team</h4>
		    <p>We are ThighAndFeather.</p>
		    <p><sub>Alphabetical order by last name</sub></p>
		    <hr>
		    <!--###Content###-->
       <div class="row featurette">
        <div class="col-md-12">  
         <div class="row">
     
	         <div class="col-xs-6 col-md-3">
	          <div class="thumbnail text-center">
	            <img src="../img/chy.jpg" class="img-circle img-responsive">
	            <div class="caption">
	             <h5>Haoye, CAI</h5>
	             <p><a ng-href="mailto:hcaiaa@connect.ust.hk">hcaiaa@connect.ust.hk</a></p>
	            </div>
	          </div>
	         </div> 

	         <div class="col-xs-6 col-md-3">
	          <div class="thumbnail text-center">
	            <img src="../img/dht.jpg" class="img-circle img-responsive">
	            <div class="caption">
	             <h5>Hantian, DING</h5>
	             <p><a ng-href="mailto:hdingab@connect.ust.hk">hdingab@connect.ust.hk</a></p>
	            </div>
	          </div>
	         </div>
	         
	         <div class="col-xs-6 col-md-3">
	          <div class="thumbnail text-center">
	            <img src="../img/lby.jpg" class="img-circle img-responsive">
	            <div class="caption">
	             <h5>Boyu, LIU</h5>
	             <p><a ng-href="mailto:bliuag@connect.ust.hk">bliuag@connect.ust.hk</a></p>
	            </div>
	          </div>
	         </div>
	         
	         <div class="col-xs-6 col-md-3">
	          <div class="thumbnail text-center">
	            <img src="../img/lzb.jpg" class="img-circle img-responsive">
	            <div class="caption">
	             <h5>Zhibo, LIANG</h5>
	             <p><a ng-href="mailto:zliangaf@connect.ust.hk">zliangaf@connect.ust.hk</a></p>
	            </div>
	          </div>
	         </div>
	         
	         <div class="col-xs-6 col-md-3">
	          <div class="thumbnail text-center">
	            <img src="../img/wyz.jpg" class="img-circle img-responsive">
	            <div class="caption">
	             <h5>Yanzhao, WANG</h5>
	             <p><a ng-href="mailto:ywangdg@connect.ust.hk">ywangdg@connect.ust.hk</a></p>
	            </div>
	          </div>
	         </div>
	         
	         <div class="col-xs-6 col-md-3">
	          <div class="thumbnail text-center">
	            <img src="../img/yre.jpg" class="img-circle img-responsive">
	            <div class="caption">
	             <h5>Rui, YAN</h5>
	             <p><a ng-href="mailto:ryanaa@connect.ust.hk">ryanaa@connect.ust.hk</a></p>
	            </div>
	          </div>
	         </div>
	         
	         <div class="col-xs-6 col-md-3">
	          <div class="thumbnail text-center">
	            <img src="../img/zyq.jpg" class="img-circle img-responsive">
	            <div class="caption">
	             <h5>Yingqi, ZHOU</h5>
	             <p><a ng-href="mailto:yzhoubb@connect.ust.hk">yzhoubb@connect.ust.hk</a></p>
	            </div>
	          </div>
	         </div>
	         
	         <div class="col-xs-6 col-md-3">
	          <div class="thumbnail text-center">
	            <img src="../img/zzy.jpg" class="img-circle img-responsive">
	            <div class="caption">
	             <h5>Ziyao, ZHANG</h5>
	             <p><a ng-href="mailto:zzhangbk@connect.ust.hk">zzhangbk@connect.ust.hk</a></p>
	            </div>
	          </div>
	         </div> 
	        </div>
         </div>
    	 </div>  
	     
	     <hr>
	     
       <div class="row featurette">
        <div class="col-md-12">  
         <div class="row">
         
           <div class="col-xs-6 col-md-12">
	          <div class="thumbnail text-center">
	            <img src="../img/ThighAndFeather.jpg" class="img-responsive">
	            <div class="caption">
	             <h5>ThighAndFeather</h5>
	             <p><a ng-href="https://github.com/ThighAndFeather">Visit our GitHub</a></p>
	            </div>
	          </div>
	         </div>  
              
           </div>
         </div>
    	 </div>
			</div> <!--caption-->
		</div> <!--thumbnail-->
	</div> <!--col-md-8-->
	
</div>
</div> <!--container-->
