<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#">Team Forming</a>
	</div>
	<div class="navbar-right">
	  <ul class="nav navbar-nav">
	    <li><a href="/#/dashboard/about">About</a></li>
	    <li class="active"><a href="/#/dashboard/profile/{{authData.uid}}">Welcome, {{user.readOnly.name}}&nbsp;&nbsp;</a></li>
	    <li><button class="btn btn-danger navbar-btn" type="button" ng-click="logout()"><i class="icon-signout"></i>&nbsp;&nbsp;&nbsp;Logout</button></li>
	  </ul>
	</div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->

<div class="container-fluid">	
	<div class="row">
		<div class="col-md-1">
			<div class="btn-group-vertical">
				<a class="btn btn-danger btn-sm" type="button" ng-href="/#/dashboard/home">
					<br><i class="icon-home icon-2x"></i><br><p>Home</p></a>
				<a class="btn btn-danger btn-sm" type="button" ng-href="/#/dashboard/event">
					<br><i class="icon-flag icon-2x"></i><br><p>Event</p></a>
				<a class="btn btn-danger btn-sm" type="button" ng-href="/#/dashboard/notification">
					<br><i class="icon-bell icon-2x"></i><br><p>Notification</p></a>
				<a class="btn btn-danger btn-sm" type="button" ng-href="/#/dashboard/request">
					<br><i class="icon-inbox icon-2x"></i><br><p>Request</p></a>
				<a class="btn btn-danger btn-sm" type="button" ng-href="/#/dashboard/profile/{{authData.uid}}">
					<br><i class="icon-list-alt icon-2x"></i><br><p>Profile</p></a>
			</div> <!--btn-group-vertical-->
		</div> <!--col-md-2-->
		<div class="col-md-10">
			<div ui-view></div>
		</div> <!--col-md-10-->
	</div>
</div>

 
