<h1>{{eventObj.eventInfo.name}}</h1>
<h3>{{role}}</h3>
<h1>{{eventObj.eventInfo.desc}}</h1>
<div ng-if="!(obj[eventID]===undefined)">
    <button class="btn btn-primary" ng-click="manage()" ng-if="obj[eventID].position=='admin'">Manage</button>
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">Teams</h2></div>
    <div class="panel-body">
        <div ng-repeat="(key, team) in eventObj.teams">
            <a ng-href="/#/dashboard/event/{{eventID}}/team/{{key}}">{{team.name}}</a>
            <button class="btn btn-primary" ng-click="deleteTeam(key)" ng-if="isManaging">delete</button>
            <button class="btn btn-primary" ng-click="toTeam(key)" ng-if="selectTeam">addTo</button>
        </div>
    </div>
<div/>
<br>
<div class="panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">TBA</h2></div>
    <div class="panel-body">
        <div ng-repeat="(key, name) in eventObj.tba">
            {{name}}
            <button class="btn btn-primary"  ng-click="addToTeam(name)" ng-if="isManaging">addToTeam</button>
        </div>
    </div>
<div/>
<div class="panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">Announcments</h2></div>
    <div class="panel-body">
        <div ng-repeat="(key, name) in eventObj.eventInfo.announcements">
            {{name.content}}
        </div>
    </div>
<div/>
<button class="btn btn-primary" ng-click="createTeamDialogue()" ng-if="role=='tba'">createTeam</button>
<button class="btn btn-primary" ng-click="joinEvent()" ng-if="role=='visitor'">Join Event</button>
<br><br><br><br>
<h1>Debug</h1>
<button class="btn btn-primary" ng-click="createEventList(userData)">createEventList</button>