<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#">Team Forming</a>
	</div>
	<div class="navbar-right">
	  <ul class="nav navbar-nav">
	    <li><a href="#fakelink">About</a></li>
	  </ul>
	</div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->

<div class="container">
	<div class="row">
	
		<div class="col-md-3"></div>
		
		<div class="col-md-6">
		
			<form name="form2" novalidate>
			
		   	<div class="form-group">
				  <label>Email: <span class="required " ng-show="form2.email.$error.required">*required</span></label>
				  <input class="form-control" type="email" name="email" ng-model="input.email" placeholder="User email" required>
				</div>

				<div class="form-group">
					<label>User Name: <span class="required" ng-show="form2.name.$error.required">*required</span></label>
					<input class="form-control" type="text" name="name" ng-model="input.name" placeholder="User Name" required>
				</div>   

		    <div class="form-group">
				  <label>Password: <span class="required" ng-show="form2.pwd.$error.required">*required</span></label>
				  <input class="form-control" name="pwd" ng-model="input.pwd" type="password" required>		
				</div>
				
				<label>Tags:</label>
				<div class="panel-group" id="accordion">
				
				  <div class="panel panel-default">
						<div class="panel-heading">
					  	<h2 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="sign_up.html#collapse1">Language</a>
					  	</h2>
						</div>
						<div id="collapse1" class="panel-collapse collapse">
							<ul class="list-group">
								<li class="list-group-item"><input type="checkbox" name="Mandarin" ng-model="profile_info.tags.LanguageTags.Mandarin"  /> &nbsp;&nbsp;Mandarin </li>
								<li class="list-group-item"><input type="checkbox" name="Cantonese" ng-model="profile_info.tags.LanguageTags.Cantonese" /> &nbsp;&nbsp;Cantonese </li>
								<li class="list-group-item"><input type="checkbox" name="Korean" ng-model="profile_info.tags.LanguageTags.Korean" /> &nbsp;&nbsp;Korean</li>
								<li class="list-group-item"><input type="checkbox" name="English" ng-model="profile_info.tags.LanguageTags.English" /> &nbsp;&nbsp;English</li>
								<li class="list-group-item"><input type="checkbox" name="Japanses" ng-model="profile_info.tags.LanguageTags.Japanses" /> &nbsp;&nbsp;Japanese</li>
								<li class="list-group-item"><input type="checkbox" name="German" ng-model="profile_info.tags.LanguageTags.German" /> &nbsp;&nbsp;German</li>
								<li class="list-group-item"><input type="checkbox" name="Spanish" ng-model="profile_info.tags.LanguageTags.Spanish" /> &nbsp;&nbsp;Spanish</li>
							</ul>
						</div>
				  </div>
				  
				  <div class="panel panel-default">
						<div class="panel-heading">
					  	<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="sign_up.html#collapse2">Manner</a>
					  	</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse">
							<ul class="list-group">
								<li class="list-group-item"><input type="checkbox" name="Outgoing" ng-model="profile_info.tags.MannerTags.Outgoing" />&nbsp;&nbsp;Outgoing</li>
								<li class="list-group-item"><input type="checkbox" name="OnCampus" ng-model="profile_info.tags.MannerTags.OnCampus" />&nbsp;&nbsp;OnCampus</li>
								<li class="list-group-item"><input type="checkbox" name="Pretty" ng-model="profile_info.tags.MannerTags.Pretty" />&nbsp;&nbsp;Pretty</li>
								<li class="list-group-item"><input type="checkbox" name="Thoughtful" ng-model="profile_info.tags.MannerTags.Thoughtful" />&nbsp;&nbsp;Thoughtful</li>
								<li class="list-group-item"><input type="checkbox" name="Cool" ng-model="profile_info.tags.MannerTags.Cool" />&nbsp;&nbsp;Cool</li>
								<li class="list-group-item"><input type="checkbox" name="SleepLate" ng-model="profile_info.tags.MannerTags.SleepLate" />&nbsp;&nbsp;SleepLate</li>
								<li class="list-group-item"><input type="checkbox" name="Creative" ng-model="profile_info.tags.MannerTags.Creative" />&nbsp;&nbsp;Creative</li>
							</ul>
						</div>
				  </div>
				  
				  <div class="panel panel-default">
						<div class="panel-heading">
						  <h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="sign_up.html#collapse3">Skills</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
							<ul class="list-group">
								<li class="list-group-item"><label>
								JavaScript:&nbsp;&nbsp;</label><input name="JavaScript" type = "number" ng-model = "profile_info.tags.SkillTags.JavaScript"></li>
								<li class="list-group-item"><label>
								HTML:&nbsp;&nbsp;</label><input name="HTML" type = "number" ng-model = "profile_info.tags.SkillTags.HTML"></li>
								<li class="list-group-item"><label>
								CSS:&nbsp;&nbsp;</label><input name="CSS" type = "number" ng-model = "profile_info.tags.SkillTags.CSS"></li>
								<li class="list-group-item"><label>
								C:&nbsp;&nbsp;</label><input name="C" type = "number" ng-model = "profile_info.tags.SkillTags.C"></li>
								<li class="list-group-item"><label>
								Python:&nbsp;&nbsp;</label><input name="Python" type = "number" ng-model = "profile_info.tags.SkillTags.Python"></li>
								<li class="list-group-item"><label>
								SQL:&nbsp;&nbsp;</label><input name="SQL" type = "number" ng-model = "profile_info.tags.SkillTags.SQL"></li>
								<li class="list-group-item"><label>
								SML:&nbsp;&nbsp;</label><input name="SML" type = "number" ng-model = "profile_info.tags.SkillTags.SML"></li>
								<li class="list-group-item"><label>
								Java:&nbsp;&nbsp;</label><input name="Java" type = "number" ng-model = "profile_info.tags.SkillTags.Java"></li>
								<li class="list-group-item"><label>
								Objective-C:&nbsp;&nbsp;</label><input name="Objective" type = "number" ng-model = "profile_info.tags.SkillTags.Objective_C"></li>
								<li class="list-group-item"><label>
								FLEX:&nbsp;&nbsp;</label><input name="FLEX" type = "number" ng-model = "profile_info.tags.SkillTags.FLEX"></li>
								<li class="list-group-item"><label>
								PHP:&nbsp;&nbsp;</label><input name="PHP" type = "number" ng-model = "profile_info.tags.SkillTags.PHP"></li>
								<li class="list-group-item"><label>
								C++:&nbsp;&nbsp;</label><input name="Cpp" type = "number" ng-model = "profile_info.tags.SkillTags.Cpp"></li>
							</ul>
						</div>
					</div>
					
				</div> <!--panel-group-->
				
				<br>
				
				<div align="right">
				  <input class="btn btn-primary" type="button" value="Register" ng-click="register()">
				</div>
				
			</form> 
			
		</div> <!--col-md-6-->
		
		<div class="col-md-3"></div>
		
	</div> <!--row-->
</div> <!--container-->
