<div class="">
  <!-- Teamname: {{data.name}}
  Maxsize: {{data.max}}
  Current Size: {{data.currentSize}}
  Desc: {{data.desc}} -->
<!-- Modal -->
<div class = "modal fade" id = "myModal" role = "dialog">
    <div class = "modal-dialog">
      <!-- Modal content-->
      <div class = "modal-content">
        <div class = "modal-header">
          <button type = "button" class = "close" data-dismiss = "modal">&times;</button>
          <h4 class = "modal-title">Please fill the information</h4>
        </div>
        <div class = "modal-body">
          <form class = "form-inline">
            <div class = "form-group">
                <label for = "name">tag name:</label>
                <input type = "text" name = "name" placeholder = "e.g. html" ng-model = "form.tagname" >
                <input type = "text" placeholder = "1" ng-model = "form.tagneed" >
                <input type = "text" placeholder = "0" ng-model = "form.tagnum">
                {{form.tagname}} {{form.tagneed}} {{form.tagnum}}
                <button class = "btn btn-primary" ng-click = "addTag(form.tagname,form.tagneed,form.tagnum)" data-dismiss = "modal">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="btn-group">
    <ul ng-repeat="tag in tagShowList">
      <li><input type = "checkbox" ng-click = "tag.state = !tag.state"> {{tag.name}}</li>
    </ul>
  </div>


  <div class="btn-group">
    <ul ng-repeat="tag in tagShowList" ng-if="tag.state">
        <li> {{tag.name}}</li>
    </ul>
  </div>


  <div class="container-fluid">
  	<div class="row-fluid">
  		<div class="span12">
  			<h3>
  				Teamname:  {{data.name}}
  			</h3>
  			<p>
  				{{data.desc}}
  			</p>
  			<form class="form-search">
  				<input class="input-medium search-query" type="text" /> <button type="submit" class="btn">Search</button>
  			</form>
  		</div>
  	</div>
  	<div class="row-fluid">
  		<div class="span8">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">Members</h3>
          </div>
          <div class="panel-body">
            <ul ng-repeat="(key,value) in members">
                <li>{{value}}</li>
            </ul>
          </div>
        </div>
  		</div>
  		<div class="span4">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">Tags</h3>
          </div>
          <div class="panel-body">
            <ul ng-repeat="(key,value) in tags">
                <li>{{key}} : {{value.num}}/{{value.need}}</li>
            </ul>
          </div>
          <div class="panel-body">
              <button type = "button" class = "btn btn-default" data-toggle = "modal" data-target = "#myModal">add a tag</button>
          </div>
        </div>
  		</div>
  	</div>
  	<div class="row-fluid">
      <div class="span4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Applications</h3>
          </div>
          <div class="panel-body">
            <ul ng-repeat="x in applications">
              <li>
                {{x.$id}} : {{x.$value}}
                <button type="button" class="btn btn-primary" ng-click="">Accept</button>
                <button type="button" class="btn btn-primary" ng-click="">Reject</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Invitation List</h3>
          </div>
          <div class="panel-body">
            <ul ng-repeat="x in invitations">
              <li>{{x.$id}} : {{x.$value}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"> Notification Board</h3>
          </div>
          <div class="panel-body">
            <ul ng-repeat="x in announcements">
              <li>
                {{x.content}} &nbsp; Date : {{x.timeStamp}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
