<div class="row" style="width:400px; margin-bottom: 0px; margin-top:0px; margin-left: 0px; margin-left: 0px; overflow: hidden;" >
    <div class="col s12 l12">
        <div class="card horizontal" style="width:100%; margin-bottom: 5px; margin-top:5px; margin-left: 0px; margin-left: 0px" >
            <div class="card-image">
                <div style="display:table;height:100%">
                    <div style=" display: table-cell;vertical-align: middle;">
                        <image ng-src="{{cpic}}" style="height:97px;width: 97px"/>
                    </div>
                </div>
            </div>
            <div  style="padding-top: 0px; margin-top: 0px;">

			 <div style="height:100%;">
                    <div>
                    <div style="font-size: 15px; color:#009688; padding-left: 5px;padding-right: 5px;">{{type | uppercase}}<div>
                    <div align="center">
                         <div style="width: 296px;color:#000; padding-left:3px ;padding-right: 5px;font-size: 12px; padding-top:5px;overflow: hidden;" ng-transclude>
                   			
                		</div>

                	</div>

                     <div style="width: 296px;color:#000; padding-left:3px ;padding-right: 5px;font-size: 12px; padding-top:5px;overflow: hidden;">From Team: {{from}}. Event:{{event}}; </div>

                     <div align="right"><a align="center" style="background: #009688;font-size: 12px ; width:100px;padding-right: auto;padding-left: auto;" ng-click="accept();">Accept</a></div>
                    </div>
                </div>

             
            </div>
        </div>
    </div>
</div>


